<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
<head>
<title>Pricing Tables</title>
</head>

<body>
	<div class="right_cols" role="main" data-layout-fragment="content">


  <div class="col-md-3">
  
  </div>
  
    <div class="col-md-6">

				<form action="#" th:action="@{/institute/registration}" th:object="${instituteReq}" method="POST">

					<div class="row">

						<div class="form-group col-md-6">

								<label for="instituteName" >Institute Name</label> 
								<input type="text" th:field="*{instituteName}" class="form-control" id="instituteName"placeholder="Institute Name"> 
								<span th:if="${#fields.hasErrors('instituteName')}" th:errors="*{instituteName}" class="text-danger"></span>
							
						</div>
						
						<div class="form-group col-md-6">
						
						<label for="address">Institute Address</label> <input type="text"
							th:field="*{address}" class="form-control" id="admin"
							placeholder="Institute Address"> <span
							th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
							class="text-danger"></span>

								
							
						</div>

					</div>


				<div class="row">

					<div class="form-group col-md-6">
							<label for="instituteEmail" >Institute Email</label> 
							<input type="text" th:field="*{instituteEmail}" class="form-control"  id="instituteEmail" placeholder="Institute Email"> 
							<span th:if="${#fields.hasErrors('instituteEmail')}"th:errors="*{instituteEmail}" class="text-danger"></span>
						

					</div>

					<div class="form-group col-md-6">

						<label for="instituteContactNumber">Institute Contact Number </label> 
						<input type="text" th:field="*{instituteContactNumber}" class="form-control" id="instituteContactNumber" placeholder="Institute Address"> 
						<span th:if="${#fields.hasErrors('instituteContactNumber')}" th:errors="*{instituteContactNumber}" class="text-danger"></span>

					</div>

				</div>
				
				<div class="row">
				
				<div class="form-group col-md-6">
				 	<label for="adminName">Admin Name</label> 
					<input type="text" th:field="*{adminName}" class="form-control" id="adminName" placeholder="Admin Name">
					<span th:if="${#fields.hasErrors('adminName')}" th:errors="*{adminName}" class="text-danger"></span>
				</div>
				
				<div class="form-group col-md-6">
					<label for="mobileNumber" >Mobile No.</label> 
					<input type="text" th:field="*{mobileNumber}" class="form-control" id="mobileNumber" placeholder="Mobile No.">
					<span th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" class="text-danger"></span>
				</div>
				
				
				</div>
				
				<div class="row">
				 <div class="form-group col-md-6">
				 	<label for="gender" >Gender</label> 
                        <select th:field="*{gender}" id="gender" class="form-control" >
						<option value="" >Select Gender</option>
						<option value="Male" >Male</option>
						<option value="Female" >Female</option>							   
						</select> 							                                 
                        <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></span>
				</div>
				
				<div class="form-group col-md-6">
				 	<label for="religion" >Religion</label> 
                        <select th:field="*{religion}" id="religion" class="form-control" >
						<option value="" >Select Religion</option>
						<option value="Islam" >Islam</option>
						<option value="Hindu" >Hindu</option>
						<option value="Buddist" >Buddist</option>
						<option value="Christian" >Christian</option>							   
						</select> 							                                 
                   <span th:if="${#fields.hasErrors('religion')}" th:errors="*{religion}" class="text-danger"></span>
				</div>
				
				</div>
				
				<div class="row">
				<div class="form-group col-md-6">
				<label for="instituteType" >Institute Type</label> 
                        <select th:field="*{instituteType}" id="instituteType" class="form-control" >
						<option value="null">Select</option>
						<option value="1">College</option>
						<option value="2">High School</option>
						<option value="3">Primary School</option>						   
						</select> 							                                 
                   <span th:if="${#fields.hasErrors('instituteType')}" th:errors="*{instituteType}" class="text-danger"></span>
				</div>
				
				<div class="form-group col-md-6">
					<label for="eiinNo" >EIIN No.</label> 
					<input type="text" th:field="*{eiinNo}" class="form-control" id="eiinNo" placeholder="EIIN NO."/>
				</div>
				
							
				</div>
				
				<div class="row">
				
				<div class="form-group col-md-12">
				<input type="submit" class="btn btn-primary btn-block" value="Add Institute" style="margin-top: 24px">	
				</div>
				
				</div>
				
				
				
				<div class="row">
				
				<div class="form-group col-md-12">
				
			     <div  th:text="${msg}" >
				
				</div>
				
				</div>

			</form>
				
	</div>			
				
  <div class="col-md-3">
  
  </div>



	</div>

</body>

</html>