<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
<head>
<title>Location Page</title>

<!-- jQuery -->
<!-- <script src="/webjars/jquery/jquery.min.js"></script> -->

<script>
   
   $(document).ready(function(){
	   
	  //-------------------------------------//
	   
	   $('#divisionid').on('change', function () {
		   
		   var dist=$('#districtid'), option="";
		   dist.empty();
		   var divisionId=$(this).val();
		   console.log(divisionId);
		       $.ajax({
			   type : "GET",
			   url  : "/location/info/district-list/by/division-id?divisionId="+divisionId+"",
			   data : $("#divisionid").serialize(),		   
			   success : function(response){
				   var datas=response.item;
				   option = option + "<option value='0'> Select District</option>";
				
				for(var i=0; i<datas.length; i++){
		            option = option + "<option value='"+datas[i].districtId + "'>"+datas[i].districtName + "</option>";
		        }
				dist.append(option);
			   },
			   error:{
				 
			   }
		     });  
	       });
	   
	   //-------------------------------------//
	   
	   $('#districtid').on('change', function () {
		   
		   var thana=$('#thanaid'), option="";
		   thana.empty();
		   var districtid=$(this).val();
		       $.ajax({
			   type : "GET",
			   url  : "/location/info/thana-list/by/district-id?districtId="+districtid+"",
			   data : $("#districtid").serialize(),		   
			   success : function(response){
				   var datas=response.item;
				   option = option + "<option value='0'> Select Thana</option>";
				
				for(var i=0; i<datas.length; i++){
		            option = option + "<option value='"+datas[i].thanaId + "'>"+datas[i].thanaName + "</option>";
		        }
				thana.append(option);
			   },
			   error:{
				 
			   }
		     });  
	       });
	   
	   
	   //-----------------------------------//
	   
	   
	   
	 $('#thanaid').on('change', function () {
			   
			   var table=$('#postofficetable'), option="";
			   table.empty();
			   var thanaid=$(this).val();
			       $.ajax({
				   type : "GET",
				   url  : "/location/info/post-office-list/by/thana-id?thanaId="+thanaid+"",
				   data : $("#thanaid").serialize(),		   
				   success : function(response){
					   var datas=response.item;
					   option = option + "<tr><th>Thana</th><th>Post Office</th><th>Postal Code</th></tr>";
					
					for(var i=0; i<datas.length; i++){
			            option = option + "<tr><td>"+datas[i].thanaName+"</td><td>"+datas[i].postOfficeName + "</td><td>"+datas[i].postalCode+"</td></tr>";
			        }
					table.append(option);
				   },
				   error:{
					 
				   }
			     });  
		       });
	   
	//-----------------------------------//
	   
   });
   

	   
	   
  
   
   </script>


</head>

<body>

	<div class="right_cols" role="main" data-layout-fragment="content">

		<div class="row">

			<div class="col-xs-3">
				<div class="form-group">
					<label class="col-form-label" for="divisionid">Division</label> <select
						class="form-control" id="divisionid">
						<option value="0">Select Division</option>
						<option th:each="division : ${divisions}"
							th:value="${division.divisionId}"
							th:utext="${division.divisionName}"></option>
					</select>

				</div>

				<div class="form-group">
					<label class="col-form-label" for="thanaid">Thana</label> 
					<select class="form-control" id="thanaid" name="thanaid">
						<option value="">Select Thana</option>
					</select>

				</div>
			</div>

			<div class="col-xs-3">
				<div class="form-group">
					<label class="col-form-label" for="districtid">District</label> 
					<select
						class="form-control" id="districtid" name="districtid">
						<option value="">Select District</option>
					</select>

				</div>
			</div>


			<div class="col-xs-6">
				
				<table class="table table-bordered table-responsive-md table-striped text-left" id="postofficetable">
				
				</table>
				
				
			</div>
		</div>

	</div>

</body>
</html>
