<div id="sidebar-menu" class="main_menu_side hidden-print main_menu vh-100" data-th-fragment="sidebar-menu">

  <div class="menu_section">
    <input type="hidden" th:value="${session.packageId}" id="idvalue" />
    <div id="basic_view">
      <!--   <h3>General</h3> -->
      <ul class="nav side-menu">

        <!--+++++++++++++++++++++++++ Student +++++++++++++++++++++++++++++++-->
        <li class="single">
          <a class="menu-icon" href="/home">
            <div class="">
              <i class="fas fa-home"></i>
              <span class="menu-text">Dashboard</span>
            </div>
          </a>
        </li>
        <li><a class="menu-icon">
            <div class="">
              <i class="fas fa-user-graduate"></i>
              <span class="menu-text">Student</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
              <g id="download" transform="translate(0 -54.091)">
                <path id="Expand_More"
                  d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                  transform="translate(0)" fill="#6c3f9b" />
              </g>
            </svg>
          </a>
          <ul class="nav child_menu">

            <li><a href="/initial-setup-class">Settings</a></li>
            <li><a>Configuration<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609"
                  viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/initial-setup-class-configuration">Class</a></li>
                <li class="sub_menu"><a href="/initial-setup-group-configuration">Group</a></li>
              </ul>
            </li>
            <li><a>Registration<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/student-multiple-registration">General</a></li>

                <li><a href="/student-excel-registration-with-custom-id">Excel<span></span></a>
                  <!-- <ul class="nav child_menu">
                  <li class="sub_menu"><a href="/student-excel-registration-with-custom-id">Custom ID</a></li>
                  <li class="sub_menu"><a href="/student-excel-registration-without-custom-id">Auto ID</a></li>
                </ul> -->
                </li>
              </ul>
            </li>
            <li><a>Search<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/student-single-search">Single</a></li>
              </ul>


            <li><a>Update<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/student-basic-update">Basic</a></li>
                <li class="sub_menu" th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}"><a
                    href="/student-id-update">Id</a></li>
                <li class="sub_menu"><a href="/student-academic-info-update">Academic</a></li>
                <li class="sub_menu"><a href="/student-photo-update">Photo</a></li>
                <li class="sub_menu"><a href="/student-address-update">Address</a></li>
                <!-- <li class="sub_menu"><a href="/student-migration">Migration</a></li> -->
                <li class="sub_menu"><a href="/student-enable-disable">Enable Disable</a></li>
              </ul>
            </li>
            <li><a>Migration<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/student-migration">General</a></li>
                <li class="sub_menu"><a href="/student-migration-merit">Merit</a></li>
              </ul>
            </li>
            <li><a>Delete<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/student-registration-delete">Student Registration</a></li>
              </ul>
            </li>


            <li><a>Report<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/student-report-basic-info-list-class-wise">Class Wise</a></li>
                <li class="sub_menu"><a href="/student-report-basic-info-list">Section Wise</a></li>
                <li class="sub_menu"><a href="/student-report-basic-info-list-group-wise">Group Wise</a></li>
                <li class="sub_menu"><a href="/student-report-section-wise-summary">Section Summary</a></li>
                <li class="sub_menu"><a href="/student-report-overview">Overview</a></li>
              </ul>
            </li>
          </ul>
        </li>



        <!--+++++++++++++++++++++++++ HR +++++++++++++++++++++++++++++++-->



        <li><a class="menu-icon"
            th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')') or #authorization.expression('hasAuthority(''ROLE_OPERATOR'')')}">
            <div class="d-flex align-item-center">
              <i class="fas fa-user-tie"></i>
              <span class="menu-text">HRM</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
              <g id="download" transform="translate(0 -54.091)">
                <path id="Expand_More"
                  d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                  transform="translate(0)" fill="#6c3f9b" />
              </g>
            </svg>
          </a>
          <ul class="nav child_menu">

            <li><a href="/initial-setup-designation">Settings</a></li>

            <li><a>Registration<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/staff-single-registration">Single</a></li>
                <li class="sub_menu"><a href="/staff-excel-registration">Excel</a></li>
              </ul>
            </li>

            <li><a>Assign<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/staff-assign-class-teacher">Class Teacher</a></li>
                <!--   <li class="sub_menu"><a href="/staff-single-registration">Bulk</a></li> -->
              </ul>
            </li>

            <li><a>Update<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/staff-update-basic-info">Basic Info</a></li>
              </ul>
            </li>
         
            <li><a>Report<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/staff-report-basic-info-list">HR List</a></li>
              </ul>
            </li>

          </ul>
        </li>



        <!--+++++++++++++++++++++++++ Student Accounts +++++++++++++++++++++++++++++++-->

        <li>
          <a class="menu-icon"
            th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')') or #authorization.expression('hasAuthority(''ROLE_ACCOUNTANT'')')}">
            <div class="d-flex align-item-center">
              <i class="fas fa-donate"></i>
              <span class="menu-text">Student Accounts</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
              <g id="download" transform="translate(0 -54.091)">
                <path id="Expand_More"
                  d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                  transform="translate(0)" fill="#6c3f9b" />
              </g>
            </svg>
          </a>
          <ul class="nav child_menu">
            <li><a>Settings<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/initial-setup-fee-head">Fee Head</a></li>
                <li class="sub_menu"><a href="/initial-setup-fee-sub-head">Fee Sub Head</a></li>
                <li class="sub_menu"><a href="/initial-setup-fee-waiver">Fee Waiver</a></li>
              </ul>
            </li>

            <li><a>Configuration<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609"
                  viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/fee-subhead-configuration">Fee-Sub Head</a></li>
                <li class="sub_menu"><a href="/fee-head-ledger-configuration">Fee Ledger</a></li>
                <li class="sub_menu"><a href="/fee-fine-ledger-configuration">Fine Ledger</a></li>
                <li class="sub_menu"><a href="/fee-amount-configuration">Fee Amount</a></li>
                <li class="sub_menu"><a href="/fee-waiver-configuration"> Waiver</a></li>
                <li class="sub_menu"><a href="/fee-subhead-time-configuration">Sub-head Time</a></li>
              </ul>
            </li>
            <li><a>Delete<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/student-accounts-trn-delete">Invoice</a></li>
              </ul>
            </li>
            <li><a href="/fee-collection-manual">Fees Collection</a></li>


            <li><a>Report<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li><a>Paid Invoice<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609"
                      viewBox="0 0 12 6.609">
                      <g id="download" transform="translate(0 -54.091)">
                        <path id="Expand_More"
                          d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                          transform="translate(0)" fill="#6c3f9b" />
                      </g>
                    </svg> </a>
                  <ul class="nav child_menu">
                    <li class="sub_menu"><a href="/fee-report-section-paid-list">Section Paid</a></li>
                    <li class="sub_menu"><a href="/fee-report-all-paid-list">All Paid</a></li>
                  </ul>
                </li>
                <li class="sub_menu"><a href="/fee-report-section-due-details">Section Due Details</a></li>
                <li class="sub_menu"><a href="/fee-report-date-to-date-head-collection">Fee Head Collection</a></li>
              </ul>
            </li>

          </ul>

        </li>


        <!--+++++++++++++++++++++++++ Accounting +++++++++++++++++++++++++++++++-->


        <!-- <li th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}"> -->
        <li th:if="${session.packageId==2 || session.packageId==3 }">
          <a class="menu-icon"
            th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')') or #authorization.expression('hasAuthority(''ROLE_ACCOUNTANT'')')}">
            <div class="d-flex align-item-center">
              <i class="fas fa-file-invoice-dollar"></i>
              <span class="menu-text">General Accounts</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
              <g id="download" transform="translate(0 -54.091)">
                <path id="Expand_More"
                  d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                  transform="translate(0)" fill="#6c3f9b" />
              </g>
            </svg>
          </a>
          <ul class="nav child_menu">
            <li><a href="/ledger-list">Ledger List</a></li>
            <li><a>Transaction<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/receive-trn">Receive</a></li>
                <li class="sub_menu"><a href="/payment-trn">Payment</a></li>
                <li class="sub_menu"><a href="/contra-trn">Contra</a></li>
                <li class="sub_menu"><a href="/journal-trn">Journal</a></li>
              </ul>
            </li>

            <li><a>Delete<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/voucher-show">Voucher</a></li>
              </ul>
            </li>

            <li><a>Report<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
                  <g id="download" transform="translate(0 -54.091)">
                    <path id="Expand_More"
                      d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                      transform="translate(0)" fill="#6c3f9b" />
                  </g>
                </svg> </a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/trial-balance">Trial Balance</a></li>
                <li class="sub_menu"><a href="/balance-sheet">Balance Sheet</a></li>
                <li class="sub_menu"><a href="/income-statement">Income Statement</a></li>
                <li class="sub_menu"><a href="/journal-report">Journal</a></li>
                <li class="sub_menu"><a href="/funds-flow">Funds Flow</a></li>
                <li class="sub_menu"><a href="/cash-summary">Cash Summary</a></li>
                <li class="sub_menu"><a href="/general-accounts-report-cash-book">Accounts Book</a></li>
                <li class="sub_menu"><a href="/general-accounts-report-user-wise">User Wise</a></li>
                <li class="sub_menu"><a href="/general-accounts-report-voucher-template">Voucher Template</a></li>
              </ul>
            </li>

          </ul>
        </li>

       

       
        <!--+++++++++++++++++++++++++ Institute Setting +++++++++++++++++++++++++++++++-->

        <li th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')') or #authorization.expression('hasAuthority(''ROLE_SUPER_ADMIN'')')}">
          <a class="menu-icon">
            <div class="d-flex align-item-center">
              <i class="fas fa-cogs"></i>
              <span class="menu-text">Master Settings</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
              <g id="download" transform="translate(0 -54.091)">
                <path id="Expand_More"
                  d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                  transform="translate(0)" fill="#6c3f9b" />
              </g>
            </svg>
          </a>

          <ul class="nav child_menu">

            <li><a href="/institute-update">Institute Update</a></li>
            <li><a href="/user-list">User Create</a></li>

          </ul>

        </li>


      



      </ul>
    </div>




  </div>

  <div class="menu_section"
    th:if="${#authorization.expression('hasAuthority(''ROLE_CUSTOMER_SUPPORT'')') or #authorization.expression('hasAuthority(''ROLE_SUPER_ADMIN'')')}">
    <h3>Admin Panel</h3>
    <ul class="nav side-menu" th:if="${#authorization.expression('hasAuthority(''ROLE_SUPER_ADMIN'')')}">
      <li th:if="${#authorization.expression('hasAuthority(''ROLE_SUPER_ADMIN'')')}">
        <a class="menu-icon">
          <div class="d-flex align-item-center">
            <i class="fa fa-user"></i>
            <span class="menu-text">Super Admin</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
            <g id="download" transform="translate(0 -54.091)">
              <path id="Expand_More"
                d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                transform="translate(0)" fill="#6c3f9b"></path>
            </g>
          </svg>
        </a>
        <ul class="nav child_menu">
          <li><a href="/institute-registration">Institute Registration</a></li>
        </ul>
      </li>

      <li th:if="${#authorization.expression('hasAuthority(''ROLE_SUPER_ADMIN'')') or #authorization.expression('hasAuthority(''ROLE_CUSTOMER_SUPPORT'')')}">
        <a class="menu-icon">
          <div class="d-flex align-item-center">
            <i class="fa fa-phone"></i>
            <span class="menu-text"> Customer Support</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
            <g id="download" transform="translate(0 -54.091)">
              <path id="Expand_More"
                d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                transform="translate(0)" fill="#6c3f9b"></path>
            </g>
          </svg>
        </a>
        <ul class="nav child_menu">

          <li class="sub_menu"><a href="/institute-jump">Go To Institute</a></li>
          <li class="sub_menu"><a href="/institute-list">Institute List</a></li>
          <li class="sub_menu"><a href="/institute-student-count">Student Count</a></li>

        </ul>
      </li>

      <li>
        <a class="menu-icon">
          <div class="d-flex align-item-center">
            <i class="fa fa-map"></i>
            <span class="menu-text"> Bangladesh Details</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6.609" viewBox="0 0 12 6.609">
            <g id="download" transform="translate(0 -54.091)">
              <path id="Expand_More"
                d="M10.967,54.269,6,59.237,1.034,54.269a.606.606,0,1,0-.857.857l5.395,5.4h0a.6.6,0,0,0,.856,0l5.395-5.4a.605.605,0,1,0-.856-.857Z"
                transform="translate(0)" fill="#6c3f9b"></path>
            </g>
          </svg>
        </a>
        <ul class="nav child_menu">
          <li><a href="/location">Location Chain</a></li>
        </ul>
      </li>

    </ul>
  </div>

</div>