<div class="profile" data-th-fragment="menu-profile-quick-info">
    <div class="profile_pic">
        <img src="/images/commonperson.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2 th:text="${session.nickname}" th:unless="${session == null}">null</h2>
    </div>
</div>