<div class="top_nav" data-th-fragment="top-navigation">
    <div class="nav_menu">
        <nav>

            <div class="nav toggle">
                <a id="menu_toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="19" viewBox="0 0 24 19">
                        <g id="Group_427" data-name="Group 427" transform="translate(-265.5 -22.5)">
                          <g id="Group_346" data-name="Group 346" transform="translate(-4 -1.5)">
                            <line id="Line_108" data-name="Line 108" x2="13.15" transform="translate(269.5 25.5)" fill="none" stroke="#4a1185" stroke-width="3"/>
                            <line id="Line_109" data-name="Line 109" x2="24" transform="translate(269.5 33.5)" fill="none" stroke="#4a1185" stroke-width="3"/>
                            <line id="Line_110" data-name="Line 110" x2="17" transform="translate(269.5 41.5)" fill="none" stroke="#4a1185" stroke-width="3"/>
                          </g>
                        </g>
                      </svg>                      
                </a> 
            </div>
            <!-- <div class="topbar-right-wrapper">
                <div class="instiute-name pull-left">
                <span th:text="${session.institutename}" th:unless="${session == null}">Sheba Digital Limited | Part of Sheba Group.</span>
            </div> -->
                <ul class="nav navbar-nav navbar-right topbar-right-wrapper">
                    <li class="mr-15">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="modal" data-target="#paymentModal">
                            <i class="fas fa-money-bill-wave"></i>
                        <!-- <label class="mb-0" th:text="${session.nickname}" th:unless="${session == null}">null</label> -->
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div id="userPhotoround"  > 
                                <input type="hidden" th:value="${session.userPhoto}" id="userPhotoxround"  />

                            </div>
                        <!-- <label class="mb-0" th:text="${session.nickname}" th:unless="${session == null}">null</label> -->
                        </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="/user-password-change"><i class="fa fa-key pull-right" ></i>Password Change</a></li>
                                <li onclick=logoutClear()> <a href="/doLogout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                    </li>

<!--                 <li role="presentation" class="dropdown"> -->
<!--                     <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false"> -->
<!--                         <i class="fa fa-envelope-o"></i> -->
<!--                         <span class="badge bg-green">6</span> -->
<!--                     </a> -->
<!--                     <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu"> -->
<!--                         <li> -->
<!--                             <a> -->
<!--                                 <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span> -->
<!--                         <span> -->
<!--                           <span>John Smith</span> -->
<!--                           <span class="time">3 mins ago</span> -->
<!--                         </span> -->
<!--                         <span class="message"> -->
<!--                           Film festivals used to be do-or-die moments for movie makers. They were where... -->
<!--                         </span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li> -->
<!--                             <a> -->
<!--                                 <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span> -->
<!--                         <span> -->
<!--                           <span>John Smith</span> -->
<!--                           <span class="time">3 mins ago</span> -->
<!--                         </span> -->
<!--                         <span class="message"> -->
<!--                           Film festivals used to be do-or-die moments for movie makers. They were where... -->
<!--                         </span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li> -->
<!--                             <a> -->
<!--                                 <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span> -->
<!--                         <span> -->
<!--                           <span>John Smith</span> -->
<!--                           <span class="time">3 mins ago</span> -->
<!--                         </span> -->
<!--                         <span class="message"> -->
<!--                           Film festivals used to be do-or-die moments for movie makers. They were where... -->
<!--                         </span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li> -->
<!--                             <a> -->
<!--                                 <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span> -->
<!--                         <span> -->
<!--                           <span>John Smith</span> -->
<!--                           <span class="time">3 mins ago</span> -->
<!--                         </span> -->
<!--                         <span class="message"> -->
<!--                           Film festivals used to be do-or-die moments for movie makers. They were where... -->
<!--                         </span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li> -->
<!--                             <div class="text-center"> -->
<!--                                 <a> -->
<!--                                     <strong>See All Alerts</strong> -->
<!--                                     <i class="fa fa-angle-right"></i> -->
<!--                                 </a> -->
<!--                             </div> -->
<!--                         </li> -->
<!--                     </ul> -->
<!--                 </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>