@import 'colors.scss';
@import 'top_bar.scss';

.mb-0{
    margin-bottom: 0;
}
#mainLayout{
    .scroll-view{
        overflow: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        padding-right: 21px;
    }
    .nav.side-menu>li.active>a{
        background: transparent;
        box-shadow: none;
    }
    menu>li.current-page, .nav.side-menu>li.active {
        border-right: 5px solid #437A70;
    }
    ::-webkit-scrollbar {
      width: 6px;
    }
    ::-webkit-scrollbar-track {
      background: #2A3F54; 
    }
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    .right_col{
        padding: 15px 15px 0px 15px;
    }
    &.nav-md {
        .container{
            .right_col{
                position: absolute;
                top: 57px;
                width: calc(100% - 230px);
                overflow: auto;
                overflow-x: hidden;
            }
        }
    }
    .nav-sm {
        .container{
            .right_col{
                position: fixed;
                top: 57px;
                width: 100%;
                padding: 0px;
                overflow: auto;
                overflow-x: hidden;
            }
        }
        
    }
    &.nav-sm {
        .container{
            &.body{
                .main_container{
                    .col-md-3{
                        &.left_col{
                            width: 0px;
                        }
                    }
                } 
            }
            .right_col{
                margin-left: 0px;
            }
        }
        .scroll-view{
            padding-right: 0px;
        }
    }
    @media screen and (min-width: 992px){
        &.nav-sm {
            .container{
                .right_col{
                    position: relative;
                    top: 57px;
                    width: 100%;
                    padding: 15px 15px 0 15px;
                    overflow: auto;
                    overflow-x: hidden;
                }
            }
        }
    }
    @media (max-width: 991px){
         &.nav-md {
            .container{
                &.body{
                    .col-md-3{
                        &.left_col{
                            display: block;
                        }
                    }
                    .right_col{
                        width: 100% !important;
                    }
                }
            }
        }
        &.nav-sm {
            .container{
                .right_col{
                    position: relative;
                    top: 57px;
                    width: 100%;
                    padding: 0px;
                    overflow: auto;
                    overflow-x: hidden;
                }
            }
        }
        .right_col{
            &::after{
                right: 10px !important;
            }
            &::before{
                left: 10px !important;
            }
        }
    }
    @import 'form_field.scss';
    @import "page_layout.scss";

}

/*footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 230px);
    background: #e7e7e7;
}
*//*.nav-md{
    .container.body{
        .right_col{
            margin-top: 57px;
        }
    }
}
.nav-sm{
    footer{
        position: fixed;
        bottom: 0;
        width: calc(100% - 83px);
    }
}*/