/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/

@keyframes ImgBounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

@keyframes shapeMover {

	0%,
	100% {
		transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
	}

	50% {
		transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
	}
}


@keyframes bubbleMover {
	0% {
		-webkit-transform: translateY(0px) translateX(0) rotate(0);
		transform: translateY(0px) translateX(0) rotate(0);
	}

	30% {
		-webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
		transform: translateY(30px) translateX(50px) rotate(15deg);
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}

	50% {
		-webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
		transform: translateY(50px) translateX(100px) rotate(45deg);
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
	}

	80% {
		-webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
		transform: translateY(30px) translateX(50px) rotate(15deg);
		-webkit-transform-origin: left top;
		transform-origin: left top;
	}

	100% {
		-webkit-transform: translateY(0px) translateX(0) rotate(0);
		transform: translateY(0px) translateX(0) rotate(0);
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}
}

@keyframes banner3Shake {
	0% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}

	30% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	60% {
		-webkit-transform: rotate3d(1, 0, 0, 0deg);
		transform: rotate3d(1, 0, 0, 0deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}
}
[class*=banner-one__shape-] {
	position: absolute;
	display: none;
}
[class*=app-shot__shape-] {
	position: absolute;
	display: none;
}
[class*=cta-three__shape] {
	position: absolute;
	display: none;
}
[class*=testimonials__one-shape-] {
	position: absolute;
	display: none;
}
[class*=contact-one__shape-]{
	position: absolute;
	display: none;
}

@media screen and (min-width: 992px) {
	[class*=banner-one__shape-] {
		position: absolute;
		display: block;
	}
	[class*=app-shot__shape-] {
		position: absolute;
		display: block;
	}
	[class*=cta-three__shape] {
		position: absolute;
		display: block;
	}
	[class*=testimonials__one-shape-] {
		position: absolute;
		display: block;
	}
	[class*=contact-one__shape-]{
		position: absolute;
		display: block;
	}
	.banner-one__shape-2 {
		top: 17%;
		left: 7%;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: banner3Shake;
		animation-name: banner3Shake;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	.banner-one__shape-3 {
		bottom: 19%;
		left: 6%;
	}
	.banner-one__shape-4 {
		top: 19%;
		right: 45%;
		-webkit-animation-name: bubbleMover;
		animation-name: bubbleMover;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		animation-duration: 8s;
	}
	.banner-one__shape-5 {
		bottom: 19%;
		left: 6%;
		-webkit-animation-name: bubbleMover;
		animation-name: bubbleMover;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		animation-duration: 10s;
	}
	.banner-one__shape-6 {
		bottom: 29%;
		right: 30%;
		-webkit-animation-name: shapeMover;
		animation-name: shapeMover;
		-webkit-animation-duration: 9s;
		animation-duration: 9s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	.banner-one__shape-7 {
		bottom: 19%;
		right: 6%;
		-webkit-animation-name: shapeMover;
		animation-name: shapeMover;
		-webkit-animation-duration: 9s;
		animation-duration: 9s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		animation-delay: 2s;
	}
	.banner-one__shape-moc-1 {
		top: -25%;
		right: 0%;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: bounce;
		animation-name: bounce;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	.banner-one__moc {
		position: absolute;
		bottom: 45px;
		right: -30px;
		animation: ImgBounce 5s ease-in-out 0s infinite alternate;
	}
	.app-shot__shape-1 {
		left: -13%;
		top: 25%;
		z-index: 11;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: bounce;
		animation-name: bounce;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	.cta-three__shape-3 {
		bottom: 15%;
		right: 0;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: banner3Shake;
		animation-name: banner3Shake;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	.testimonials__one-shape-1 {
		top: -43px;
		left: 2%;
		-webkit-animation-name: bubbleMover;
		animation-name: bubbleMover;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		animation-duration: 8s;
	}
	.testimonials__one-shape-2 {
		top: 6%;
		right: 6%;
		-webkit-animation-name: shapeMover;
		animation-name: shapeMover;
		-webkit-animation-duration: 9s;
		animation-duration: 9s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	.contact-one__shape-2 {
		left: 2%;
		top: -62px;
		-webkit-animation-name: bubbleMover;
		animation-name: bubbleMover;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		animation-duration: 8s;
	}
	.contact-one__shape-3 {
		right: -231.5px;
		bottom: 90px;
		z-index: 11;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: bounce;
		animation-name: bounce;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
}

