$sidebarColor: linear-gradient(385deg, #2876f9 -49%, #6d17cb 74%);
$sidebarBgSecondaryColor: #4A1185;
$topbarLeftColor:#410086 !important;
$topbarRightColor:#ffffff;
$highlightColor:#7832ff;
$highlightColorSecondary:#410086;
$whiteColor: #ffffff;
$menuActive:#C8D2C5;
$primaryColor:#410086 !important;
$secondaryColor:#7832ffcc;
$activeBg:#3296fa;
$grayColor:#7e7e7e;
$bodyColor:#f2f2f2;
$darkColor:#000;
$formBorder: #d7dae3;
$textGray: #878787;
$btnPrimarybg: #4d5dfb;
$btnPrimaryHover:#2834a7;
$btnPrimaryBorder:#4d5dfb;
$btnDangerbg:#eb4511;
$btnDangerHover:#b02e0c;
$btnDangerBorder:#b02e0c;
$btnWarningbg: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
$btnWarningHover:linear-gradient(315deg, #ffdd00 0%, #fbb034  74%);
$btnWarningBorder:#ffdd00;
$tableHeaderBg:rgba(110, 24, 204,0.1);
$darkBlue: #6e18cc;
$btnSuccess: linear-gradient(315deg, #00b712 0%, #3ccc00 74%);
$btnSuccessHover: linear-gradient(-315deg, #00b712 0%, #3ccc00 74%);
$btnSuccessBoder: #3ccc00;
$dashBoxBgOne: linear-gradient(90deg, #875FC0 0%, #5648BA 100%);
$dashBoxBgTwo: linear-gradient(90deg, #FFB82C 0%, #F57F58 100%);
$dashBoxBgThree: linear-gradient(218deg, #B954A4 0%, #EB4885 100%);
$dashBoxBgFour: #4A1185;
$dashBoxBgFive: linear-gradient(90deg, #F9C221 0%, #F95811 100%);
$dashBoxBgSix: linear-gradient(90deg, #FE8989 0%, #FF1400 100%);
$dashBoxBgSeven: linear-gradient(90deg, #6382FF 0%, #F22E63 100%);
$dashBoxBgEight: linear-gradient(90deg, #B300FD 0%, #00FEED 100%);
$dashBoxBgNine: linear-gradient(90deg, #681dbb 0%, #4949e363 100%);
$purchaseButton:#FFBC6E;
$purchaseButtonBorder:#F8A849;
$purchaseButtonColor:#C67319;