.tab .nav-tabs li{
    margin-right: 10px;
    min-width: 160px;
    margin-bottom: 1px;
}
.tab .nav-tabs li a{
    position: relative;
    padding: 10px;
    color: $darkColor;
    font-size: 15px;
    z-index: 1;
}
.tab .nav-tabs li a:hover{
    background:transparent;
    border:1px solid transparent;
    color: $whiteColor;
    &:before{
        border: 1px solid $darkBlue;
        background: $darkBlue
    }
}
.tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: -1px;
    font-size: 17px;
    background: $whiteColor;
    border: 1px solid #ddd;
    border-bottom: 0px none;
    border-radius: 10px 10px 0 0;
    transform-origin: left center 0;
    transform: perspective(8px) rotateX(2deg);
    z-index: -1;
}
.tab .nav-tabs li.active a:before{
    background: $darkBlue;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border:1px solid transparent;
    background:transparent;
    color: $whiteColor;
    z-index: 2;
}
.tab-content .tab-pane{
    border: 1px solid $darkBlue;
    padding: 20px;
    background:#fff;
    line-height: 22px;
}
.tab-content .tab-pane h3{
    margin-top: 0;
}
@media only screen and (max-width: 767px) {
    .tab .nav-tabs li a{
        padding: 15px 10px;
        font-size: 14px;
    }
    .tab .nav-tabs li a:before{
        bottom: 6px;
    }
}
@media only screen and (max-width: 480px) {
    .tab .nav-tabs li{
        width:100%;
        margin-bottom: 5px;
    }
    .tab .nav-tabs li a:before{
        bottom: 0;
        transform: none;
        border-bottom: 1px solid #d3d3d3;
    }
}