#dashboard{
    .dash-box{
        border-radius: 10px;
        padding: 15px;
        .profile-image-wrapper{
            margin-right: 15px;
            .profile-image{
                img{
                    height: 93px;
                    width: 93px;
                    border-radius: 50%;
                }
            }
        }
        .dash-icon{
            svg{
                height: 50px;
                 width: 50px;
            }
        }
        .dash-content-wrapper{
            h3{
                font-family: "poppins", sans-serif !important;
            }
            h4{
                font-family: "poppins", sans-serif !important;
            }
            span{
                font-family: "poppins", sans-serif !important;
            }
        }
        &.dashboard-box-bg-1{
            background: $dashBoxBgOne;
        }
        &.dashboard-box-bg-2{
            background: $dashBoxBgTwo;
        }
        &.dashboard-box-bg-3{
            background: $dashBoxBgThree;
        }
        &.dashboard-box-bg-white{
            background: $whiteColor;
        }
        &.dashboard-box-bg-4{
            background: $dashBoxBgFour;
        }
        &.p-35{
            padding: 35px;
        }
    }
    .sms-box-wrapper{
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 15px;
        .title-wrapper{
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    .box-border{
        position: relative;
        &::before{
            content: '';
            width: 1px;
            height: calc(100% - 32px);
            background-color: $bodyColor;
            position: absolute;
            left: 50%;
            top: 16px;
        }
        @media screen and (max-width:991px) {
            &::before{
                display: none;
            }
        }
    }
    .purchase-sms-btn{
        button{
            border-radius: 15px !important;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: $purchaseButton;
            border-color: $purchaseButtonBorder;
            color: $purchaseButtonColor;
            bottom: -17px;
            &:hover{
                background: $purchaseButtonBorder;
                border-color: $purchaseButtonColor;
                color: $whiteColor;
            }
        }
    }
    .support-box {
        padding: 20px 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
}
.dashboard-box-bg-1{
    background-image: $dashBoxBgOne;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.dashboard-box-bg-2{
    background-image: $dashBoxBgTwo;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.dashboard-box-bg-3{
    background-image: $dashBoxBgThree;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.dashboard-box-bg-4{
    background-image: $dashBoxBgFour;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.dashboard-box-bg-5{
    background-image: url('../../images/dashboard-box-bg-image.png'), $dashBoxBgFive;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.dashboard-box-bg-6{
    background-image: url('../../images/dashboard-box-bg-image.png'), $dashBoxBgSix;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.dashboard-box-bg-7{
    background-image: url('../../images/dashboard-box-bg-image.png'), $dashBoxBgSeven;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.dashboard-box-bg-8{
    background-image: url('../../images/dashboard-box-bg-image.png'), $dashBoxBgEight;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.dashboard-box-bg-9{
    background-image: url('../../images/dashboard-box-bg-image.png'), $dashBoxBgNine;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.mb-30{
    margin-bottom: 30px
}
.dashbord-box-shadow{
    box-shadow: 1px 0px 19px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 0px 19px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 0px 19px -2px rgba(0, 0, 0, 0.2);
}
.dashboard-box-wrapper{
    padding: 25px;
    min-height: 204px;
    position: relative;
    
    .box-icon{
        i{
            color: $whiteColor;
            font-size: 40px;
        }
        .title{
            font-size: 24px;
            color: $whiteColor; 
            margin-bottom: 0px;
        }
    }
    .box-details{
        position: absolute;
        bottom: 25px;
        width: calc(100% - 50px);
        .fontQuantity{
            font-size: 28px !important;
            color: $whiteColor !important;
            font-weight: normal;
        }
        hr{
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}
.institute-details-wrapper{
    padding: 25px;
    background: $whiteColor;
    min-height: 204px;
    .institute-logo {
        margin-bottom: 20px;
    }
    .institute-id {
        font-size: 22px;
        color: $darkColor;
        display: flex;
        margin-bottom: 0;
        p{
            margin-bottom: 0;
        }
    }
    .institute-name {
        font-size: 24px;
        color: $darkColor;
    }
    .institute-address{
        font-size: 18px;
        color: $darkColor;
    }
}
.support-wrapper{
    background: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 204px;
    .support-logo{
        margin-right: 15px;
    }
    .support-details{
        margin-top: 14px;
        span {
            color: $darkColor;
            font-size: 18px;
        }
        h3 {
            color: $darkColor;
            font-size: 28px;
            margin-bottom: 0
        }
    }
}
    