.custom-form-group {
    label {
        font-weight: normal;
        font-size: 15px;
        color: $primaryColor;
    }
    .form-control {
        border: 1px solid $formBorder;
        border-radius: 0px;
        height: 40px;
    }
    .form-control:focus {
        border: 1px solid rgba(147, 91, 255, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(147, 91, 255, .25) !important;
    }
}

.btn {
    border-radius: 0 !important;
}

.btn-primary {
    color: $whiteColor;
    background: $btnPrimarybg;
    border-color: $btnPrimaryBorder;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(41, 126, 212, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: $whiteColor;
    background: $btnPrimarybg !important;
    border-color: $btnPrimaryBorder !important;
}

.btn-primary:hover {
    color: $whiteColor;
    background: $btnPrimaryHover;
    border-color: $btnPrimaryBorder;
}

.btn-danger {
    color: $whiteColor;
    background: $btnDangerbg;
    border-color: $btnDangerBorder;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(243, 84, 79, 0.5);
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
    color: $whiteColor;
    background: $btnDangerHover;
    border-color: $btnDangerHover;
}

.btn-danger:hover {
    color: $whiteColor;
    background: $btnDangerHover;
    border-color: $btnDangerHover;
}

.btn-warning {
    color: $whiteColor;
    background: $btnWarningbg;
    border-color: $btnWarningBorder;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(249, 152, 15, 0.5);
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
    color: $whiteColor;
    background: $btnWarningHover;
    border-color: $btnWarningBorder;
}

.btn-warning:hover {
    color: $whiteColor;
    background: $btnWarningHover;
    border-color: $btnWarningBorder;
}

.btn-success {
    color: $whiteColor;
    background: $btnSuccess;
    border-color: $btnSuccessBoder;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(249, 152, 15, 0.5);
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
    color: $whiteColor;
    background: $btnSuccess;
    border-color: $btnSuccessBoder;
}

.btn-success:hover {
    color: $whiteColor;
    background: $btnSuccessHover;
    border-color: $btnSuccessBoder;
}

.multiselect-container {
    width: 100%;
}
textarea.form-control{
    height: auto !important;
}