@import 'colors.scss';
@import 'top_bar.scss';
@import 'landingPage.scss';
.mb-0 {
    margin-bottom: 0;
}
body{
    font-family: 'poppins', sans-serif !important;
}
#mainLayout {
     ::-webkit-scrollbar {
        width: 6px;
    }
     ::-webkit-scrollbar-track {
        background: #360A64;
    }
     ::-webkit-scrollbar-thumb {
        background: #5648BA;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: $grayColor;
    }
    .nav.side-menu>li.active>a {
        background: transparent;
        box-shadow: none;
    }
    .child_menu {
        // background: $topbarLeftColor;
        li:before {
            height: 5px;
            background: #8141b7 !important;
            left: 15px !important;
            margin-top: 17px;
            width: 5px;
            display: none;
        }
        li:after {
            border: none;
        }
        li.active {
            // background: transparent;
        }
    }
    .text-dark{
        color: $darkColor;
    }
    .side-menu {
        .child_menu{
            // padding-top: 10px;
            // padding-bottom: 10px;
            // margin-left: 15px;
        }
        li.current-page.single{
            background: $bodyColor;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            // padding-bottom: 0;
            .menu-icon{
                // path{
                //     stroke: #360A64;
                // }
                i{
                    color: #360A64;
                }
            }
            .menu-text{
                color: #360A64 !important;
            }
        }
        li.active {
            border-right: none !important;
            background: #410086;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            // padding-bottom: 15px;
        
            .child_menu{
                background: #360A64;
                // margin-left: 15px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                .current-page{
                    background-color: #fff;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    // margin-left: 15px;
                    a{
                        color: #360A64 !important;
                    }
                }
                li{
                    margin-left: 10px;
                }
                .active{
                    background:  transparent;
                }
            }
            li.active {
                // margin-left: 15px;
                // padding-top: 10px;
                // padding-bottom: 10px;
                .child_menu{
                    background: #360a64;
                    border-bottom-left-radius: 15px;
                    border-top-left-radius: 15px;
                    // margin-left: 15px;
                    // padding-top: 10px;
                    // padding-bottom: 10px;
                    .current-page{
                        background-color: #fff;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                        // margin-left: 15px;
                        a{
                            color: #360A64 !important;
                        }
                    }
                }
            }
        }
        li.current-page {
            border-right: 5px solid transparent !important;
        }
    }
    
    @media (min-width: 992px){
        .custom-modal-lg {
            width: 90%;
        }
    }
    
    @import 'form_field.scss';
    @import "page_layout.scss";
    @import "custom_tab.scss";
    @import "dashboard.scss";
    @import "spacing.scss";

}
.id-template-bg{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    position: relative !important;
    cursor: pointer;
    // border: 1px solid #6e18cc;
    .fa-check-circle{
        display: none;
        font-size: 36px;
        color: #25e84f;
    }
    .tmp-title{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 18px;
            font-weight: bold;
            color: #6d17cb;
        }
    }
    &.active{
        .tmp-title{
            height: 100%;
            width: 100%;
            background: rgba(72, 18, 129,50%);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            span{
                font-size: 18px;
                font-weight: bold;
                color: #fff;
            }
        }
    }
    &:hover{
        .tmp-title{
            height: 100%;
            width: 100%;
            background: rgba(72, 18, 129, 50%);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 11;
            span{
                font-size: 18px;
                font-weight: bold;
                color: #fff;
            }
        }
    }
}
.h-100{
    height: 100%;
}
/*footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 230px);
    background: #e7e7e7;
}
*/


/*.nav-md{
    .container.body{
        .right_col{
            margin-top: 57px;
        }
    }
}
.nav-sm{
    footer{
        position: fixed;
        bottom: 0;
        width: calc(100% - 83px);
    }
}*/

/************************************/
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }
    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }
    .h2, h2 {
        font-size: 18px;
        font-weight: 400;
    }
}