html {
  height: 100%; }

#mainLayout {
  /******Top Bar*******/
  background: #f2f2f2 !important; }
  #mainLayout .nav_menu {
    background: #ffffff; }
  #mainLayout .nav_title {
    background: transparent;
    padding: 15px; }
  #mainLayout .left_col {
    background: #4A1185;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px !important; }
    #mainLayout .left_col .menu-icon {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #mainLayout .left_col .menu-icon .menu-text {
        margin-left: 5px;
        font-size: 13px; }
      #mainLayout .left_col .menu-icon > svg {
        transform: rotate(-90deg);
        transition: 0.2s; }
    #mainLayout .left_col .child_menu li a svg {
      transform: rotate(-90deg);
      margin-top: 8px;
      transition: 0.2s; }
  #mainLayout footer {
    bottom: 0;
    background: #f2f2f2;
    z-index: 3;
    width: calc(100% - 250px);
    right: 0;
    position: fixed; }
    #mainLayout footer .pull-right {
      color: #878787;
      font-size: 14px; }
  #mainLayout .right_col {
    background: #f2f2f2;
    padding-bottom: 65px;
    padding: 0px; }
  #mainLayout .main_container .top_nav {
    top: 0px;
    position: fixed;
    width: calc(100% - 250px);
    top: 0px;
    z-index: 3;
    padding: 0 15px;
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2; }
  #mainLayout .main_container .main_menu_side {
    padding-left: 15px; }
    #mainLayout .main_container .main_menu_side li.active li.current-page a {
      color: #410086 !important !important;
      margin-bottom: 0; }
    #mainLayout .main_container .main_menu_side li.active .menu-icon > svg {
      transform: rotate(0deg); }
    #mainLayout .main_container .main_menu_side li.active > a {
      color: #ffffff !important;
      border-radius: 0;
      margin-bottom: 0px !important; }
      #mainLayout .main_container .main_menu_side li.active > a span {
        color: #ffffff !important; }
    #mainLayout .main_container .main_menu_side a {
      color: #ffffff !important;
      box-shadow: none !important;
      font-weight: normal;
      font-size: 14px; }
      #mainLayout .main_container .main_menu_side a i {
        margin-right: 5px;
        font-size: 16px; }
      #mainLayout .main_container .main_menu_side a svg {
        float: right; }
    #mainLayout .main_container .main_menu_side .active a span.fa {
      margin-right: 0; }
    #mainLayout .main_container .main_menu_side .menu_section h3 {
      color: #ffffff; }
  #mainLayout .main_container .menu_fixed {
    /*height: 100%;*/
    position: fixed;
    top: 57px; }
  #mainLayout .main_container .nav_menu {
    margin-bottom: 0px;
    position: relative;
    border-bottom: none; }
    #mainLayout .main_container .nav_menu .instiute-name {
      display: inline-block; }
      #mainLayout .main_container .nav_menu .instiute-name span {
        font-size: 20px;
        color: #ffffff; }
    #mainLayout .main_container .nav_menu .nav_title {
      padding-right: 10px; }
      #mainLayout .main_container .nav_menu .nav_title .site_title {
        font-size: 18px !important;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ffffff !important; }
    #mainLayout .main_container .nav_menu .topbar-right-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 64px; }
      #mainLayout .main_container .nav_menu .topbar-right-wrapper i {
        color: #B7B7B7; }
      #mainLayout .main_container .nav_menu .topbar-right-wrapper img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        background: #ffffff;
        padding: 5px; }
      #mainLayout .main_container .nav_menu .topbar-right-wrapper .user-profile {
        padding: 0;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        border: 1px solid #DCDCDC;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px; }
        #mainLayout .main_container .nav_menu .topbar-right-wrapper .user-profile:hover {
          background-color: #DCDCDC; }
          #mainLayout .main_container .nav_menu .topbar-right-wrapper .user-profile:hover i {
            color: #B7B7B7; }
        #mainLayout .main_container .nav_menu .topbar-right-wrapper .user-profile label {
          color: #ffffff;
          cursor: pointer; }
        #mainLayout .main_container .nav_menu .topbar-right-wrapper .user-profile span {
          color: #ffffff !important; }
      #mainLayout .main_container .nav_menu .topbar-right-wrapper li {
        background-color: #ffffff; }
        #mainLayout .main_container .nav_menu .topbar-right-wrapper li.open .user-profile {
          background-color: #DCDCDC;
          border-color: #ffffff; }
        #mainLayout .main_container .nav_menu .topbar-right-wrapper li:focus {
          background-color: #ffffff; }
  #mainLayout .main_container .navbar-right {
    width: auto;
    margin-left: auto;
    width: auto; }
  #mainLayout .main_container .user-profile label {
    display: none; }
  #mainLayout .main_container .instiute-name {
    margin-left: 30px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  @media screen and (min-width: 992px) {
    #mainLayout .main_container .instiute-name {
      width: fit-content; }
    #mainLayout .main_container .user-profile label {
      display: inline-block; } }
  @media screen and (max-width: 450px) {
    #mainLayout .main_container .instiute-name {
      display: none !important; } }
  @media screen and (max-width: 1757px) {
    #mainLayout.nav-md .menu_fixed {
      /*                position: absolute;*/
      top: 57px; }
    #mainLayout.nav-md .scroll-view {
      overflow: hidden !important;
      scroll-behavior: smooth; } }
  #mainLayout.nav-md .scroll-view {
    overflow: auto;
    scroll-behavior: smooth;
    /*padding-right: 21px;*/
    width: 100%; }
  #mainLayout.nav-md .child_menu li.active a svg {
    transform: rotate(0deg);
    margin-top: 8px;
    transition: 0.2s; }
  #mainLayout.nav-md footer {
    background: #f2f2f2;
    margin-left: 0; }
  #mainLayout.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #410086 !important; }
  #mainLayout.nav-sm .left_col {
    width: 85px;
    z-index: 3 !important; }
  #mainLayout.nav-sm .right_col {
    margin-left: 85px; }
  #mainLayout.nav-sm .child_menu {
    z-index: 1 !important; }
    #mainLayout.nav-sm .child_menu li {
      padding: 0 5px !important; }
  #mainLayout.nav-sm .nav_title {
    position: relative; }
    #mainLayout.nav-sm .nav_title::after {
      position: absolute;
      height: 57px;
      width: 16px;
      background: #410086 !important;
      right: -15px;
      top: 0;
      content: ""; }
  #mainLayout.nav-sm .main_container .nav_menu .toggle {
    float: left;
    margin: 0;
    padding-top: 0px;
    width: 40px;
    position: absolute;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 65px;
    top: 10px; }
  #mainLayout.nav-sm .main_container .nav_menu .instiute-name {
    margin-left: 40px; }
  #mainLayout.nav-sm .menu_fixed {
    height: 100%;
    /*position: absolute;*/
    top: 57px; }
  #mainLayout.nav-sm footer {
    width: calc(100% - 85px);
    margin-left: 85px;
    position: relative !important; }

.full-width .left_col {
  display: none; }
.full-width .right_col {
  margin-left: 0 !important;
  width: 100% !important; }
.full-width .top_nav {
  width: 100% !important; }
.full-width footer {
  width: 100% !important; }

.vh-100 {
  height: calc(100vh - 100px) !important;
  overflow-y: auto; }

html, body {
  overflow-x: hidden; }

#landingPageWrapper {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  /*--------------------------------------------------------------
  # Animations
  --------------------------------------------------------------*/ }
@keyframes ImgBounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); } }
@keyframes shapeMover {
  0%,
	100% {
    transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0); }
  50% {
    transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px); } }
@keyframes bubbleMover {
  0% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0); }
  30% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: center center;
    transform-origin: center center; }
  50% {
    -webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
    transform: translateY(50px) translateX(100px) rotate(45deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom; }
  80% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: left top;
    transform-origin: left top; }
  100% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center; } }
@keyframes banner3Shake {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg); }
  30% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  60% {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg); } }
  #landingPageWrapper [class*=banner-one__shape-] {
    position: absolute;
    display: none; }
  #landingPageWrapper [class*=app-shot__shape-] {
    position: absolute;
    display: none; }
  #landingPageWrapper [class*=cta-three__shape] {
    position: absolute;
    display: none; }
  #landingPageWrapper [class*=testimonials__one-shape-] {
    position: absolute;
    display: none; }
  #landingPageWrapper [class*=contact-one__shape-] {
    position: absolute;
    display: none; }
  @media screen and (min-width: 992px) {
    #landingPageWrapper [class*=banner-one__shape-] {
      position: absolute;
      display: block; }
    #landingPageWrapper [class*=app-shot__shape-] {
      position: absolute;
      display: block; }
    #landingPageWrapper [class*=cta-three__shape] {
      position: absolute;
      display: block; }
    #landingPageWrapper [class*=testimonials__one-shape-] {
      position: absolute;
      display: block; }
    #landingPageWrapper [class*=contact-one__shape-] {
      position: absolute;
      display: block; }
    #landingPageWrapper .banner-one__shape-2 {
      top: 17%;
      left: 7%;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: banner3Shake;
      animation-name: banner3Shake;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .banner-one__shape-3 {
      bottom: 19%;
      left: 6%; }
    #landingPageWrapper .banner-one__shape-4 {
      top: 19%;
      right: 45%;
      -webkit-animation-name: bubbleMover;
      animation-name: bubbleMover;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-duration: 8s; }
    #landingPageWrapper .banner-one__shape-5 {
      bottom: 19%;
      left: 6%;
      -webkit-animation-name: bubbleMover;
      animation-name: bubbleMover;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-duration: 10s; }
    #landingPageWrapper .banner-one__shape-6 {
      bottom: 29%;
      right: 30%;
      -webkit-animation-name: shapeMover;
      animation-name: shapeMover;
      -webkit-animation-duration: 9s;
      animation-duration: 9s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .banner-one__shape-7 {
      bottom: 19%;
      right: 6%;
      -webkit-animation-name: shapeMover;
      animation-name: shapeMover;
      -webkit-animation-duration: 9s;
      animation-duration: 9s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-delay: 2s; }
    #landingPageWrapper .banner-one__shape-moc-1 {
      top: -25%;
      right: 0%;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .banner-one__moc {
      position: absolute;
      bottom: 45px;
      right: -30px;
      animation: ImgBounce 5s ease-in-out 0s infinite alternate; }
    #landingPageWrapper .app-shot__shape-1 {
      left: -13%;
      top: 25%;
      z-index: 11;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .cta-three__shape-3 {
      bottom: 15%;
      right: 0;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: banner3Shake;
      animation-name: banner3Shake;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .testimonials__one-shape-1 {
      top: -43px;
      left: 2%;
      -webkit-animation-name: bubbleMover;
      animation-name: bubbleMover;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-duration: 8s; }
    #landingPageWrapper .testimonials__one-shape-2 {
      top: 6%;
      right: 6%;
      -webkit-animation-name: shapeMover;
      animation-name: shapeMover;
      -webkit-animation-duration: 9s;
      animation-duration: 9s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .contact-one__shape-2 {
      left: 2%;
      top: -62px;
      -webkit-animation-name: bubbleMover;
      animation-name: bubbleMover;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-duration: 8s; }
    #landingPageWrapper .contact-one__shape-3 {
      right: -231.5px;
      bottom: 90px;
      z-index: 11;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; } }
  #landingPageWrapper .text-gray {
    color: #6E6E6E !important; }
  #landingPageWrapper .line-height-default {
    line-height: 1.8; }
  #landingPageWrapper .f-weight-500 {
    font-weight: 500; }
  #landingPageWrapper .margin-top-80 {
    margin-top: 80px; }
  #landingPageWrapper .margin-bottom-80 {
    margin-bottom: 40px; }
  #landingPageWrapper .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(33deg, #4a1185 43%, #86309e 100%);
    -webkit-box-shadow: 0px 7px 23px -11px black;
    -moz-box-shadow: 0px 7px 23px -11px black;
    box-shadow: 0px 7px 23px -11px black; }
  #landingPageWrapper .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity; }
  #landingPageWrapper .carousel-fade .carousel-item.active,
  #landingPageWrapper .carousel-fade .carousel-item-next.carousel-item-left,
  #landingPageWrapper .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1; }
  #landingPageWrapper .carousel-fade .active.carousel-item-left,
  #landingPageWrapper .carousel-fade .active.carousel-item-right {
    opacity: 0; }
  #landingPageWrapper .carousel-fade .carousel-item-next,
  #landingPageWrapper .carousel-fade .carousel-item-prev,
  #landingPageWrapper .carousel-fade .carousel-item.active,
  #landingPageWrapper .carousel-fade .active.carousel-item-left,
  #landingPageWrapper .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0); }
  @media screen and (min-width: 768px) {
    #landingPageWrapper .margin-bottom-80 {
      margin-bottom: 80px; } }
  #landingPageWrapper .hero-section-wrapper {
    padding: 15px 0px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    transition: background-color 1s linear;
    background: url("../../images/hero-section-bg-2.png"), linear-gradient(33deg, #4a1185 43%, #86309e 100%); }
    #landingPageWrapper .hero-section-wrapper.default-hero-bg {
      background: url("../../images/hero-section-bg-2.png"), linear-gradient(33deg, #4a1185 43%, #86309e 100%); }
    #landingPageWrapper .hero-section-wrapper.default-hero-1 {
      background: url("../../images/hero-section-bg-2.png"), linear-gradient(33deg, #86309e 100%), #4a1185 43%; }
    #landingPageWrapper .hero-section-wrapper.default-hero-2 {
      background: url("../../images/hero-section-bg-2.png"), linear-gradient(33deg, #ad0792 43%, #4e0263 100%); }
    #landingPageWrapper .hero-section-wrapper::before {
      content: '';
      background-image: url("../../images/hero-section-top-bg.png");
      height: 29vw;
      width: 44vw;
      position: absolute;
      left: -176px;
      top: -90px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom; }
    @media screen and (max-width: 1280px) {
      #landingPageWrapper .hero-section-wrapper::before {
        display: none; } }
    #landingPageWrapper .hero-section-wrapper .navbar-brand img {
      width: 180px; }
    #landingPageWrapper .hero-section-wrapper .nav-link {
      color: #fff;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 16px;
      font-family: 'Ubuntu', sans-serif; }
    #landingPageWrapper .hero-section-wrapper .top-login {
      border-radius: 25px;
      width: 156px;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 16px;
      height: 42px;
      line-height: 30px; }
    #landingPageWrapper .hero-section-wrapper .navbar-toggler {
      background-color: #fff; }
    #landingPageWrapper .hero-section-wrapper .carousel-inner {
      z-index: 1; }
    #landingPageWrapper .hero-section-wrapper .slider-content-wrapper {
      padding-top: 100px;
      padding-bottom: 100px; }
      #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-title-wrapper .slider-title h1 {
        font-weight: 700;
        color: #fff;
        line-height: 1.2;
        margin: 0;
        font-size: 36px; }
      #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-title-wrapper .slider-content p {
        color: #fff; }
      #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper {
        margin-top: 30px; }
        #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper .signup-btn a {
          border-radius: 20px;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 13px;
          background: #fff;
          color: #4A1185;
          padding: 10px;
          border-color: #4A1185; }
          #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper .signup-btn a:hover {
            background: #4A1185;
            color: #fff;
            border-color: #fff; }
        #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper .video_request-link a {
          color: #fff;
          font-size: 13px; }
      #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .col-md-4 {
        max-width: 100%;
        width: 100%;
        flex: 100%; }
      @media screen and (min-width: 980px) {
        #landingPageWrapper .hero-section-wrapper .slider-content-wrapper {
          padding-top: 200px;
          padding-bottom: 200px; }
          #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .col-md-4 {
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%; }
          #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper .video_request-link {
            margin-top: 0px; } }
    #landingPageWrapper .hero-section-wrapper .slider-container {
      max-width: 64%;
      position: absolute;
      right: 0;
      padding-left: 12vw;
      bottom: 6vw;
      display: none; }
      @media screen and (max-width: 1280px) {
        #landingPageWrapper .hero-section-wrapper .slider-container {
          bottom: 15vw; } }
      #landingPageWrapper .hero-section-wrapper .slider-container .carousel {
        width: fit-content; }
        #landingPageWrapper .hero-section-wrapper .slider-container .carousel .carousel-indicators {
          bottom: -50px;
          align-items: center; }
        #landingPageWrapper .hero-section-wrapper .slider-container .carousel .carousel-indicators li {
          position: relative;
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin-right: 3px;
          margin-left: 3px;
          text-indent: -999px;
          background-color: #5812A2; }
        #landingPageWrapper .hero-section-wrapper .slider-container .carousel .carousel-indicators .active {
          height: 10px;
          width: 10px;
          background-color: #5812A2; }
      @media screen and (min-width: 980px) {
        #landingPageWrapper .hero-section-wrapper .slider-container {
          display: block; } }
  #landingPageWrapper .sec-space {
    padding: 50px 0; }
  #landingPageWrapper .sec-space-lg {
    padding-top: 130px;
    padding-bottom: 152px; }
  #landingPageWrapper .margin-bottom-over-50 {
    margin-bottom: -50px; }
  #landingPageWrapper .bg-gray {
    background: #F5F5F5; }
  #landingPageWrapper .bg-dark-blue {
    background: #4A1185; }
  #landingPageWrapper .text-blue {
    color: #4A1185; }
  #landingPageWrapper .features-animate-icon {
    z-index: 99; }
  @media screen and (min-width: 768px) {
    #landingPageWrapper .features-animate-icon {
      position: relative; }
      #landingPageWrapper .features-animate-icon::before {
        display: none;
        height: 150px;
        width: 150px;
        content: '';
        background: url("../../images/animate-icon-1.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: -120px;
        animation: updown 5s ease infinite; }
    #landingPageWrapper .map-section-top-animation {
      position: relative; }
      #landingPageWrapper .map-section-top-animation::before {
        display: none;
        height: 150px;
        width: 150px;
        content: '';
        background: url("../../images/animate-icon-3.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: -120px;
        animation: updown 5s ease infinite; }
    #landingPageWrapper .map-section-bottom-animation {
      position: relative; }
      #landingPageWrapper .map-section-bottom-animation::before {
        display: none;
        height: 150px;
        width: 150px;
        content: '';
        background: url("../../images/animate-icon-4.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 0;
        bottom: -100px;
        animation: updown 5s ease infinite; }
    #landingPageWrapper .price-table-top-animation {
      position: relative; }
      #landingPageWrapper .price-table-top-animation::before {
        display: none;
        height: 150px;
        width: 150px;
        content: '';
        background: url("../../images/animate-icon-5.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: -240px;
        animation: updown 5s ease infinite; }
    #landingPageWrapper .price-table-middle-animation {
      position: relative; }
      #landingPageWrapper .price-table-middle-animation::after {
        display: none;
        height: 100px;
        width: 100px;
        content: '';
        background: url("../../images/animate-icon-6.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 0px;
        top: -20px;
        animation: updown 5s ease infinite; } }
  @media screen and (min-width: 1366px) {
    #landingPageWrapper .features-animate-icon::after {
      display: none;
      height: 100px;
      width: 100px;
      content: '';
      background: url("../../images/animate-icon-2.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      background-position: center center;
      right: -100px;
      bottom: 0px;
      animation: hideShow 5s ease-in-out infinite; } }
  #landingPageWrapper .section-title-wrapper .section-title h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    color: #4A1185; }
  #landingPageWrapper .section-title-wrapper .section-title p {
    font-size: 18px;
    color: #B1B1B1; }
  #landingPageWrapper .features-tab-wrapper {
    margin-top: 40px; }
    #landingPageWrapper .features-tab-wrapper .tab-content {
      background-color: #ffffff;
      padding: 40px;
      border-radius: 30px; }
    #landingPageWrapper .features-tab-wrapper .nav-tabs {
      border-bottom: none; }
    #landingPageWrapper .features-tab-wrapper .nav-item {
      width: 100%;
      text-align: left; }
      #landingPageWrapper .features-tab-wrapper .nav-item a {
        line-height: 1.1;
        color: #9F9F9F;
        font-size: 16px;
        padding: 15px 15px;
        min-height: auto;
        border-radius: 1.25rem; }
        #landingPageWrapper .features-tab-wrapper .nav-item a img {
          display: none; }
        @media screen and (min-width: 980px) {
          #landingPageWrapper .features-tab-wrapper .nav-item a {
            min-height: 170px;
            border-radius: 0;
            border-top-left-radius: 1.25rem;
            border-top-right-radius: 1.25rem; }
            #landingPageWrapper .features-tab-wrapper .nav-item a img {
              display: inline-block; } }
        #landingPageWrapper .features-tab-wrapper .nav-item a:hover {
          border-color: transparent;
          color: #58238E; }
      #landingPageWrapper .features-tab-wrapper .nav-item .active {
        color: #58238E;
        font-weight: 700;
        border: none; }
    #landingPageWrapper .features-tab-wrapper .tab-content-wrapper .tab-content-title h4 {
      font-size: 28px;
      color: #4A1185;
      font-weight: 700; }
    #landingPageWrapper .features-tab-wrapper .tab-content-wrapper .tab-content-text p {
      font-size: 20px;
      color: #303030;
      line-height: 1.8; }
    @media screen and (min-width: 980px) {
      #landingPageWrapper .features-tab-wrapper .nav-item {
        text-align: center;
        width: min-content; }
      #landingPageWrapper .features-tab-wrapper .nav-tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start; } }
  #landingPageWrapper .carousel-wrapper .carasoul-content-wrapper .carasoul-content h4 {
    color: #fff;
    font-size: 33px; }
  #landingPageWrapper .carousel-wrapper .carasoul-content-wrapper .media-body h5 {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold; }
  #landingPageWrapper .carousel-wrapper .carasoul-content-wrapper .media-body span {
    font-size: 18px;
    color: #ffffff;
    font-style: italic;
    font-weight: 200; }
  #landingPageWrapper .carousel-wrapper .owl-controls {
    display: none !important; }
  #landingPageWrapper .mobile-payment-full-wrapper {
    position: relative;
    background: url("../../images/payment-bottom-arrow.png");
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 10px; }
    @media screen and (min-width: 1020px) {
      #landingPageWrapper .mobile-payment-full-wrapper::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 214px;
        background: url("../../images/spider-left-bottom.png");
        height: 530px;
        width: 40%;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        -webkit-animation: fadeinout 4s ease-in-out infinite;
        animation: fadeinout 4s ease-in-out infinite; }
      #landingPageWrapper .mobile-payment-full-wrapper::after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 214px;
        background: url("../../images/spider-right-bottom.png");
        height: 530px;
        width: 40%;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        -webkit-animation: fadeinout 4s ease-in-out infinite;
        animation: fadeinout 4s ease-in-out infinite; } }
    #landingPageWrapper .mobile-payment-full-wrapper .mobile-payment-wrapper {
      margin-top: -20px; }
  #landingPageWrapper .price-list-warpper {
    background: url("../../images/pricinng-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top; }
    #landingPageWrapper .price-list-warpper .p-l-r {
      padding: 0 78px;
      padding-left: 58px; }
    #landingPageWrapper .price-list-warpper .p-t-b {
      padding-top: 20px;
      padding-bottom: 20px; }
    #landingPageWrapper .price-list-warpper .bg-dark {
      background: #5812A2 !important; }
    #landingPageWrapper .price-list-warpper .table .table-header-wrapper {
      color: #ffffff;
      padding: 35px 70px; }
      #landingPageWrapper .price-list-warpper .table .table-header-wrapper.active {
        background: #5812A2;
        width: 100%;
        margin-right: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px; }
      #landingPageWrapper .price-list-warpper .table .table-header-wrapper .title {
        font-size: 20px;
        color: #ffffff;
        font-family: 'Ubuntu', sans-serif; }
      #landingPageWrapper .price-list-warpper .table .table-header-wrapper .price {
        font-size: 38px;
        color: #ffffff;
        margin-left: 2px;
        line-height: 0.8; }
      #landingPageWrapper .price-list-warpper .table .table-header-wrapper .duration {
        color: #ffffff;
        font-size: 18px; }
    #landingPageWrapper .price-list-warpper .table thead th {
      border: none;
      padding: 0; }
    #landingPageWrapper .price-list-warpper .table tbody td {
      border: none;
      color: #ffffff;
      padding: 0; }
    #landingPageWrapper .price-list-warpper .table tbody .text-success {
      color: #55AA00; }
    #landingPageWrapper .price-list-warpper .table tbody .text-danger {
      color: #F44336; }
    #landingPageWrapper .price-list-warpper .price-table-header {
      width: 1110px; }
      #landingPageWrapper .price-list-warpper .price-table-header th {
        width: 295px; }
      #landingPageWrapper .price-list-warpper .price-table-header th:first-child {
        width: 395px; }
    #landingPageWrapper .price-list-warpper .price-table-content {
      width: 1110px;
      border-radius: 30px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
      #landingPageWrapper .price-list-warpper .price-table-content .pt-15 {
        padding-top: 15px; }
      #landingPageWrapper .price-list-warpper .price-table-content .pb-15 {
        padding-bottom: 15px; }
      #landingPageWrapper .price-list-warpper .price-table-content .pl-20 {
        padding-left: 20px; }
      #landingPageWrapper .price-list-warpper .price-table-content tr {
        position: relative;
        cursor: pointer; }
        #landingPageWrapper .price-list-warpper .price-table-content tr.active {
          position: relative; }
          #landingPageWrapper .price-list-warpper .price-table-content tr.active td {
            border-radius: 0; }
            #landingPageWrapper .price-list-warpper .price-table-content tr.active td:first-child {
              border-bottom-left-radius: 15px;
              border-top-left-radius: 15px;
              background-color: #ffffff; }
              #landingPageWrapper .price-list-warpper .price-table-content tr.active td:first-child div {
                color: #4A1185; }
          #landingPageWrapper .price-list-warpper .price-table-content tr.active td:nth-child(2).text-success {
            color: #28a745 !important; }
          #landingPageWrapper .price-list-warpper .price-table-content tr.active td:last-child {
            position: relative; }
            #landingPageWrapper .price-list-warpper .price-table-content tr.active td:last-child .text-danger {
              color: #F44336; }
            #landingPageWrapper .price-list-warpper .price-table-content tr.active td:last-child div {
              background-color: #ffffff; }
            #landingPageWrapper .price-list-warpper .price-table-content tr.active td:last-child ::after {
              content: '';
              position: absolute;
              right: -20px;
              top: 0;
              height: 54px;
              width: 40px;
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
              background: #fff; }
      #landingPageWrapper .price-list-warpper .price-table-content td {
        width: 295px;
        background: #ffffff;
        padding-top: 0px !important;
        padding-bottom: 0px !important; }
        #landingPageWrapper .price-list-warpper .price-table-content td .active {
          margin-right: 20px;
          background: #5812a2; }
      #landingPageWrapper .price-list-warpper .price-table-content .border-radius-left-top {
        border-top-left-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-content .border-radius-left-bottom {
        border-bottom-left-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-content .border-radius-right-top {
        border-top-right-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-content .border-radius-right-bottom {
        border-bottom-right-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-content td:first-child {
        width: 360px;
        background: transparent; }
    #landingPageWrapper .price-list-warpper .price-table-footer {
      width: 1110px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-footer td {
        width: 295px;
        padding-top: 0px !important;
        padding-bottom: 0px !important; }
        #landingPageWrapper .price-list-warpper .price-table-footer td .active {
          margin-right: 20px;
          background: #5812a2; }
        #landingPageWrapper .price-list-warpper .price-table-footer td .pricing-btn {
          border-radius: 50px;
          padding: 10px 15px;
          background: transparent;
          border: 2px solid #fff;
          color: #fff;
          font-weight: 700; }
          #landingPageWrapper .price-list-warpper .price-table-footer td .pricing-btn:hover {
            background-color: #ffffff;
            color: #5812A2; }
      #landingPageWrapper .price-list-warpper .price-table-footer td:first-child {
        width: 360px;
        background: transparent; }
  #landingPageWrapper .icon-box-wrapper {
    margin-bottom: 80px; }
    #landingPageWrapper .icon-box-wrapper .box-icon {
      margin-bottom: 15px; }
    #landingPageWrapper .icon-box-wrapper .box-heading h4 {
      font-size: 32px;
      color: #4A1185;
      font-weight: 700; }
    #landingPageWrapper .icon-box-wrapper .box-text {
      font-size: 20px;
      color: #6E6E6E; }
    @media screen and (max-width: 767px) {
      #landingPageWrapper .icon-box-wrapper {
        margin-bottom: 40px; } }
  #landingPageWrapper .subscriber-wrapper {
    padding: 78px 130px;
    background: #5812A2;
    border-radius: 30px;
    position: absolute;
    z-index: 1; }
    @media screen and (max-width: 1024px) {
      #landingPageWrapper .subscriber-wrapper {
        position: relative; } }
    #landingPageWrapper .subscriber-wrapper .subsciber-header {
      text-align: center; }
      #landingPageWrapper .subscriber-wrapper .subsciber-header h1 {
        font-size: 36px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 36px; }
    #landingPageWrapper .subscriber-wrapper .subscribe-form .form-control {
      height: 72px;
      border-radius: 15px;
      color: #C4C4C4;
      background-color: #E8E8E8;
      padding-right: 67px; }
    #landingPageWrapper .subscriber-wrapper .subscribe-form .btn {
      border-radius: 15px;
      padding-left: 25px;
      padding-right: 25px;
      margin-left: -50px;
      z-index: 11;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase; }
  #landingPageWrapper .company-details-footer .logo {
    margin-bottom: 20px; }
    #landingPageWrapper .company-details-footer .logo img {
      width: 200px; }
  #landingPageWrapper .company-details-footer .content span {
    color: #ffffff;
    font-size: 17px;
    display: block; }
  #landingPageWrapper .left-bg-image {
    position: relative; }
    #landingPageWrapper .left-bg-image::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      background-image: url("../../images/left-bg-image.png");
      width: 225px;
      height: 560px;
      background-repeat: no-repeat;
      background-size: contain; }
    @media screen and (max-width: 767px) {
      #landingPageWrapper .left-bg-image::before {
        display: none; } }
  #landingPageWrapper .right-bg-image {
    position: relative; }
    #landingPageWrapper .right-bg-image::after {
      content: '';
      position: absolute;
      right: -1px;
      top: -5px;
      background-image: url("../../images/right-bg-image.png");
      width: 168px;
      height: 509px;
      background-repeat: no-repeat;
      background-size: contain; }
    @media screen and (max-width: 767px) {
      #landingPageWrapper .right-bg-image::after {
        display: none; } }
  #landingPageWrapper #paymentStepSlider {
    width: max-content;
    margin: 0 auto;
    max-width: 40%; }
  #landingPageWrapper #paymentStepSliderCount {
    position: absolute;
    left: 19%; }
    @media screen and (max-width: 1200px) {
      #landingPageWrapper #paymentStepSliderCount {
        left: 22%; } }
    #landingPageWrapper #paymentStepSliderCount .carousel-inner {
      transform: rotate(270deg); }
    #landingPageWrapper #paymentStepSliderCount span {
      font-size: 110px;
      color: #4A1185; }
    @media screen and (max-width: 1200px) {
      #landingPageWrapper #paymentStepSliderCount .carousel-item span {
        font-size: 5vw;
        color: #4A1185; } }
  #landingPageWrapper .paymentStepSliderWrapper {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0; }
  #landingPageWrapper .footer-bg {
    overflow: hidden;
    background-image: url("../../images/footer-bg.png");
    background-size: auto;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 152px; }
    @media screen and (max-width: 1024px) {
      #landingPageWrapper .footer-bg {
        padding-top: 0px; } }
  @media (max-width: 768px) {
    #landingPageWrapper .footer-bg {
      background-image: none;
      background-color: #4A1185; } }
  #landingPageWrapper .copyright-text {
    padding-bottom: 107px; }
    @media (max-width: 768px) {
      #landingPageWrapper .copyright-text {
        padding-bottom: 50px; } }
    #landingPageWrapper .copyright-text p {
      color: #C2C2C2;
      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 0; }
  #landingPageWrapper .footer-menu-wrapper .footer-title h4 {
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 30px; }
  #landingPageWrapper .footer-menu-wrapper .footer-menu ul {
    padding-left: 0;
    list-style: none; }
    #landingPageWrapper .footer-menu-wrapper .footer-menu ul li {
      margin-bottom: 17px; }
      #landingPageWrapper .footer-menu-wrapper .footer-menu ul li a {
        display: flex;
        font-size: 17px;
        color: #ffffff;
        align-items: center; }
        #landingPageWrapper .footer-menu-wrapper .footer-menu ul li a span {
          background: #ffffff;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px; }
          #landingPageWrapper .footer-menu-wrapper .footer-menu ul li a span i {
            color: #58238E; }

.mb-0 {
  margin-bottom: 0; }

body {
  font-family: 'poppins', sans-serif !important; }

#mainLayout {
  /***********/
  /**********/ }
  #mainLayout ::-webkit-scrollbar {
    width: 6px; }
  #mainLayout ::-webkit-scrollbar-track {
    background: #360A64; }
  #mainLayout ::-webkit-scrollbar-thumb {
    background: #5648BA; }
  #mainLayout ::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e; }
  #mainLayout .nav.side-menu > li.active > a {
    background: transparent;
    box-shadow: none; }
  #mainLayout .child_menu li:before {
    height: 5px;
    background: #8141b7 !important;
    left: 15px !important;
    margin-top: 17px;
    width: 5px;
    display: none; }
  #mainLayout .child_menu li:after {
    border: none; }
  #mainLayout .text-dark {
    color: #000; }
  #mainLayout .side-menu li.current-page.single {
    background: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; }
    #mainLayout .side-menu li.current-page.single .menu-icon i {
      color: #360A64; }
    #mainLayout .side-menu li.current-page.single .menu-text {
      color: #360A64 !important; }
  #mainLayout .side-menu li.active {
    border-right: none !important;
    background: #410086;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; }
    #mainLayout .side-menu li.active .child_menu {
      background: #360A64;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px; }
      #mainLayout .side-menu li.active .child_menu .current-page {
        background-color: #fff;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px; }
        #mainLayout .side-menu li.active .child_menu .current-page a {
          color: #360A64 !important; }
      #mainLayout .side-menu li.active .child_menu li {
        margin-left: 10px; }
      #mainLayout .side-menu li.active .child_menu .active {
        background: transparent; }
    #mainLayout .side-menu li.active li.active .child_menu {
      background: #360a64;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px; }
      #mainLayout .side-menu li.active li.active .child_menu .current-page {
        background-color: #fff;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px; }
        #mainLayout .side-menu li.active li.active .child_menu .current-page a {
          color: #360A64 !important; }
  #mainLayout .side-menu li.current-page {
    border-right: 5px solid transparent !important; }
  @media (min-width: 992px) {
    #mainLayout .custom-modal-lg {
      width: 90%; } }
  #mainLayout .custom-form-group label {
    font-weight: normal;
    font-size: 15px;
    color: #410086 !important; }
  #mainLayout .custom-form-group .form-control {
    border: 1px solid #d7dae3;
    border-radius: 0px;
    height: 40px; }
  #mainLayout .custom-form-group .form-control:focus {
    border: 1px solid rgba(147, 91, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(147, 91, 255, 0.25) !important; }
  #mainLayout .btn {
    border-radius: 0 !important; }
  #mainLayout .btn-primary {
    color: #ffffff;
    background: #4d5dfb;
    border-color: #4d5dfb; }
  #mainLayout .btn-primary:not(:disabled):not(.disabled):active:focus,
  #mainLayout .btn-primary:not(:disabled):not(.disabled).active:focus,
  #mainLayout .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(41, 126, 212, 0.5); }
  #mainLayout .btn-primary:not(:disabled):not(.disabled):active,
  #mainLayout .btn-primary:not(:disabled):not(.disabled).active,
  #mainLayout .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background: #4d5dfb !important;
    border-color: #4d5dfb !important; }
  #mainLayout .btn-primary:hover {
    color: #ffffff;
    background: #2834a7;
    border-color: #4d5dfb; }
  #mainLayout .btn-danger {
    color: #ffffff;
    background: #eb4511;
    border-color: #b02e0c; }
  #mainLayout .btn-danger:not(:disabled):not(.disabled):active:focus,
  #mainLayout .btn-danger:not(:disabled):not(.disabled).active:focus,
  #mainLayout .show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(243, 84, 79, 0.5); }
  #mainLayout .btn-danger:not(:disabled):not(.disabled):active,
  #mainLayout .btn-danger:not(:disabled):not(.disabled).active,
  #mainLayout .show > .btn-danger.dropdown-toggle {
    color: #ffffff;
    background: #b02e0c;
    border-color: #b02e0c; }
  #mainLayout .btn-danger:hover {
    color: #ffffff;
    background: #b02e0c;
    border-color: #b02e0c; }
  #mainLayout .btn-warning {
    color: #ffffff;
    background: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    border-color: #ffdd00; }
  #mainLayout .btn-warning:not(:disabled):not(.disabled):active:focus,
  #mainLayout .btn-warning:not(:disabled):not(.disabled).active:focus,
  #mainLayout .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(249, 152, 15, 0.5); }
  #mainLayout .btn-warning:not(:disabled):not(.disabled):active,
  #mainLayout .btn-warning:not(:disabled):not(.disabled).active,
  #mainLayout .show > .btn-warning.dropdown-toggle {
    color: #ffffff;
    background: linear-gradient(315deg, #ffdd00 0%, #fbb034 74%);
    border-color: #ffdd00; }
  #mainLayout .btn-warning:hover {
    color: #ffffff;
    background: linear-gradient(315deg, #ffdd00 0%, #fbb034 74%);
    border-color: #ffdd00; }
  #mainLayout .btn-success {
    color: #ffffff;
    background: linear-gradient(315deg, #00b712 0%, #3ccc00 74%);
    border-color: #3ccc00; }
  #mainLayout .btn-success:not(:disabled):not(.disabled):active:focus,
  #mainLayout .btn-success:not(:disabled):not(.disabled).active:focus,
  #mainLayout .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(249, 152, 15, 0.5); }
  #mainLayout .btn-success:not(:disabled):not(.disabled):active,
  #mainLayout .btn-success:not(:disabled):not(.disabled).active,
  #mainLayout .show > .btn-success.dropdown-toggle {
    color: #ffffff;
    background: linear-gradient(315deg, #00b712 0%, #3ccc00 74%);
    border-color: #3ccc00; }
  #mainLayout .btn-success:hover {
    color: #ffffff;
    background: linear-gradient(-315deg, #00b712 0%, #3ccc00 74%);
    border-color: #3ccc00; }
  #mainLayout .multiselect-container {
    width: 100%; }
  #mainLayout textarea.form-control {
    height: auto !important; }
  #mainLayout .p-0 {
    padding: 0 !important; }
  #mainLayout .page-title {
    margin-top: 20px;
    margin-bottom: 15px; }
    #mainLayout .page-title h1 {
      font-family: "poppins", sans-serif !important;
      font-size: 22px;
      font-weight: bold;
      color: #410086 !important;
      margin: 0; }
  #mainLayout .position-ralative {
    position: relative; }
  #mainLayout .font-size-18 {
    font-size: 18px; }
  #mainLayout .font-size-14 {
    font-size: 14px; }
  #mainLayout .font-size-22 {
    font-size: 22px; }
  #mainLayout .color-dark {
    color: #000; }
  #mainLayout .color-white {
    color: #ffffff; }
  #mainLayout .text-gray {
    color: #878787; }
  #mainLayout .text-bold {
    font-weight: bold; }
  #mainLayout .position-relative {
    position: relative; }
  #mainLayout .mendatory {
    color: #000; }
    #mainLayout .mendatory span {
      color: #d60707; }
  #mainLayout .w-100 {
    width: 100%; }
  #mainLayout .emptyFieldBorder {
    border: 1px solid #ed202461 !important; }
  #mainLayout .form-group.custom-form-group.emptyFieldBorder {
    border: 1px solid transparent !important; }
  #mainLayout .emptyFieldBorder .select2-container {
    border: 1px solid #ed202461 !important; }
  #mainLayout .emptyFieldBorder .form-control {
    border: 1px solid #ed202461 !important; }
  #mainLayout .text-left {
    text-align: left !important; }
  #mainLayout .mt-30 {
    margin-top: 30px !important; }
  #mainLayout .mb-30 {
    margin-bottom: 30px !important; }
  #mainLayout .mb-0 {
    margin-bottom: 0px !important; }
  #mainLayout .mb-10 {
    margin-bottom: 10px !important; }
  #mainLayout .mt-0 {
    margin-top: 0px !important; }
  #mainLayout .mt-5 {
    margin-top: 5px !important; }
  #mainLayout .mt-15 {
    margin-top: 15px !important; }
  #mainLayout .mr-15 {
    margin-right: 15px !important; }
  #mainLayout .px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  #mainLayout .pt-20 {
    padding-top: 20px !important; }
  #mainLayout .btn {
    min-height: 40px; }
    #mainLayout .btn.btn-sm {
      min-height: auto !important; }
  #mainLayout .radius-0 {
    border-radius: 0; }
  #mainLayout .alert {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999; }
  #mainLayout .d-none {
    display: none; }
  #mainLayout .d-inline-block {
    display: inline-block; }
  #mainLayout .bordered {
    border: 1px solid #6e18cc; }
  #mainLayout .right_col .content-wrapper {
    padding-top: 66px;
    padding-bottom: 50px; }
  @media screen and (max-width: 991px) {
    #mainLayout .col-md-12 {
      width: 100%; } }
  #mainLayout .page-inner-wrapper {
    border-radius: 5px; }
    #mainLayout .page-inner-wrapper .card {
      background: #ffffff;
      box-shadow: 0px 12px 33px 0px rgba(62, 73, 84, 0.08); }
      #mainLayout .page-inner-wrapper .card .card-header {
        border-bottom: 1px solid #6e18cc;
        position: relative;
        background: transparent;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center; }
    #mainLayout .page-inner-wrapper .page-inner-title {
      text-align: center;
      border-bottom: 1px solid linear-gradient(385deg, #2876f9 -49%, #6d17cb 74%);
      position: relative;
      /*        &::after{
          position: absolute;
          bottom: -5px;
          left: 0px;
          background: $sidebarColor;
          content: "";
          height: 1px;
          width: 100%;
      }*/ }
      #mainLayout .page-inner-wrapper .page-inner-title h4 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-weight: 400;
        padding: 10px;
        color: #000;
        font-size: 20px; }
      #mainLayout .page-inner-wrapper .page-inner-title label {
        font-weight: normal !important; }
        #mainLayout .page-inner-wrapper .page-inner-title label h4 {
          font-weight: normal !important; }
    #mainLayout .page-inner-wrapper .page-wrapper {
      padding: 15px; }
  #mainLayout .custom-tab-wrapper .nav {
    border-color: #6e18cc; }
  #mainLayout .custom-tab-wrapper .nav-tabs li {
    margin: 0 3em; }
  #mainLayout .custom-tab-wrapper .nav-tabs li a {
    border-bottom: 5px solid transparent;
    color: #7e7e7e;
    font-size: 15px; }
  #mainLayout .custom-tab-wrapper .nav-tabs .tabs-style-shape nav li:first-child a span {
    padding-left: 2em;
    border-radius: 30px 0 0 0; }
  #mainLayout .custom-tab-wrapper .nav-tabs li.active a {
    color: #7832ffcc;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 5px solid #7832ffcc;
    font-weight: 600; }
  #mainLayout .custom-tab-wrapper .nav-tabs a {
    border-radius: 0; }
    #mainLayout .custom-tab-wrapper .nav-tabs a:hover {
      border: none;
      border-bottom: 5px solid #7832ffcc;
      color: #7832ffcc; }
  #mainLayout .table-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(110, 24, 204, 0.1);
    border-top: 3px solid #410086 !important;
    padding: 5px 10px; }
    #mainLayout .table-header-wrapper h4 {
      margin: 0;
      color: #000;
      font-size: 18px;
      font-weight: 500; }
    #mainLayout .table-header-wrapper .totalCount span {
      color: #000; }
    #mainLayout .table-header-wrapper label {
      font-weight: normal !important; }
  @media screen and (max-width: 767px) {
    #mainLayout .table-header-wrapper {
      display: block; }
      #mainLayout .table-header-wrapper .totalCount {
        margin-top: 10px;
        max-width: 320px; } }
  #mainLayout .custom-table {
    border: 1px solid #dddddd; }
    #mainLayout .custom-table td {
      vertical-align: middle;
      border: 1px solid tableHeaderBg; }
      #mainLayout .custom-table td .btn {
        min-height: auto; }
    #mainLayout .custom-table th {
      border-bottom: none;
      font-weight: 600;
      color: #000; }
    #mainLayout .custom-table td {
      color: #000; }
    #mainLayout .custom-table tbody tr:nth-of-type(odd) {
      background: rgba(46, 109, 244, 0.1); }
  #mainLayout .dataTables_paginate ul.pagination {
    margin: 0;
    float: right; }
    #mainLayout .dataTables_paginate ul.pagination li a {
      border-color: rgba(110, 24, 204, 0.1) !important;
      color: #000 !important;
      background: transparent !important; }
      #mainLayout .dataTables_paginate ul.pagination li a:hover {
        background: rgba(110, 24, 204, 0.1) !important;
        border-color: rgba(110, 24, 204, 0.1) !important;
        color: #ffffff !important; }
    #mainLayout .dataTables_paginate ul.pagination li.active a {
      background: #7832ffcc !important;
      color: #ffffff !important;
      border-color: #7832ffcc !important; }
  /* #mainLayout #tbl_wrapper .dataTables_length,
  #mainLayout #tbl_wrapper .dataTables_filter {
    display: none; } */
  #mainLayout #tbl_wrapper #tbl {
    margin: 0 !important; }
  #mainLayout #tbl_wrapper .data-table-bottom {
    margin-top: 15px;
    margin-bottom: 15px; }
  @media screen and (max-width: 991px) {
    #mainLayout #tbl_wrapper .data-table-bottom div {
      width: 100%;
      align-items: start; } }
  @media screen and (max-width: 992px) {
    #mainLayout #tbl_wrapper .data-table-bottom {
      padding: 0 15px; } }
  #mainLayout #tbl_wrapper .data-table-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  #mainLayout #tbl_wrapper .dataTables_info {
    color: #7832ffcc;
    padding-top: 0;
    float: left;
    text-align: left; }
  #mainLayout #tbl_wrapper ul.pagination {
    margin: 0;
    float: right;
    text-align: right; }
  #mainLayout .w-inherit {
    width: inherit; }
  #mainLayout .d-flex {
    display: flex; }
  #mainLayout .align-center {
    align-items: center; }
  #mainLayout .flex-nowrap {
    flex-wrap: nowrap; }
  #mainLayout .flex-wrap {
    flex-wrap: wrap; }
  #mainLayout .justify-between {
    justify-content: space-between; }
  #mainLayout .justify-end {
    justify-content: flex-end; }
  #mainLayout .justify-start {
    justify-content: flex-start; }
  #mainLayout .justify-center {
    justify-content: center; }
  #mainLayout .justify-end {
    justify-content: flex-end; }
  #mainLayout .custom-modal .modal-title {
    color: #000; }
  #mainLayout .text-white-space {
    width: 1px;
    white-space: nowrap; }
  #mainLayout .feeTableWrapper {
    display: flex;
    justify-content: flex-start; }
  #mainLayout #feeTblSecondPart td {
    padding: 10px; }
  #mainLayout #feesCollectionWrapper .table-responsive {
    overflow: none; }
  #mainLayout .student-list-url {
    font-size: 15px;
    color: #4a1185;
    text-decoration: underline;
    font-weight: 600; }
    #mainLayout .student-list-url:hover {
      color: #4a1185;
      text-decoration: none; }
  #mainLayout #fee_table_second td {
    padding: 10px !important; }
  #mainLayout .select2-results__options {
    height: 200px !important; }
  @media screen and (max-width: 992px) {
    #mainLayout .col-md-55, #mainLayout .col-xs-1, #mainLayout .col-sm-1, #mainLayout .col-md-1, #mainLayout .col-lg-1, #mainLayout .col-xs-2, #mainLayout .col-sm-2, #mainLayout .col-md-2, #mainLayout .col-lg-2, #mainLayout .col-xs-3, #mainLayout .col-sm-3, #mainLayout .col-md-3, #mainLayout .col-lg-3, #mainLayout .col-xs-4, #mainLayout .col-sm-4, #mainLayout .col-md-4, #mainLayout .col-lg-4, #mainLayout .col-xs-5, #mainLayout .col-sm-5, #mainLayout .col-md-5, #mainLayout .col-lg-5, #mainLayout .col-xs-6, #mainLayout .col-sm-6, #mainLayout .col-md-6, #mainLayout .col-lg-6, #mainLayout .col-xs-7, #mainLayout .col-sm-7, #mainLayout .col-md-7, #mainLayout .col-lg-7, #mainLayout .col-xs-8, #mainLayout .col-sm-8, #mainLayout .col-md-8, #mainLayout .col-lg-8, #mainLayout .col-xs-9, #mainLayout .col-sm-9, #mainLayout .col-md-9, #mainLayout .col-lg-9, #mainLayout .col-xs-10, #mainLayout .col-sm-10, #mainLayout .col-md-10, #mainLayout .col-lg-10, #mainLayout .col-xs-11, #mainLayout .col-sm-11, #mainLayout .col-md-11, #mainLayout .col-lg-11, #mainLayout .col-xs-12, #mainLayout .col-sm-12, #mainLayout .col-md-12, #mainLayout .col-lg-12 {
      width: 100%; }
    #mainLayout footer {
      width: 100% !important;
      background: #ffffff;
      position: relative;
      margin-left: 0px !important; }
    #mainLayout #feesCollectionWrapper .table-responsive {
      overflow: auto; } }
  #mainLayout #tblSecond {
    margin-top: 0px !important; }
  @media screen and (max-width: 800px) {
    #mainLayout .table-responsive-md {
      min-height: .01% !important;
      overflow-x: auto !important; } }
  #mainLayout .tab .nav-tabs li {
    margin-right: 10px;
    min-width: 160px;
    margin-bottom: 1px; }
  #mainLayout .tab .nav-tabs li a {
    position: relative;
    padding: 10px;
    color: #000;
    font-size: 15px;
    z-index: 1; }
  #mainLayout .tab .nav-tabs li a:hover {
    background: transparent;
    border: 1px solid transparent;
    color: #ffffff; }
    #mainLayout .tab .nav-tabs li a:hover:before {
      border: 1px solid #6e18cc;
      background: #6e18cc; }
  #mainLayout .tab .nav-tabs li a:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: -1px;
    font-size: 17px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-bottom: 0px none;
    border-radius: 10px 10px 0 0;
    transform-origin: left center 0;
    transform: perspective(8px) rotateX(2deg);
    z-index: -1; }
  #mainLayout .tab .nav-tabs li.active a:before {
    background: #6e18cc; }
  #mainLayout .tab .nav-tabs li.active a,
  #mainLayout .tab .nav-tabs li.active a:focus,
  #mainLayout .tab .nav-tabs li.active a:hover {
    border: 1px solid transparent;
    background: transparent;
    color: #ffffff;
    z-index: 2; }
  #mainLayout .tab-content .tab-pane {
    border: 1px solid #6e18cc;
    padding: 20px;
    background: #fff;
    line-height: 22px; }
  #mainLayout .tab-content .tab-pane h3 {
    margin-top: 0; }
  @media only screen and (max-width: 767px) {
    #mainLayout .tab .nav-tabs li a {
      padding: 15px 10px;
      font-size: 14px; }
    #mainLayout .tab .nav-tabs li a:before {
      bottom: 6px; } }
  @media only screen and (max-width: 480px) {
    #mainLayout .tab .nav-tabs li {
      width: 100%;
      margin-bottom: 5px; }
    #mainLayout .tab .nav-tabs li a:before {
      bottom: 0;
      transform: none;
      border-bottom: 1px solid #d3d3d3; } }
  #mainLayout #dashboard .dash-box {
    border-radius: 10px;
    padding: 15px; }
    #mainLayout #dashboard .dash-box .profile-image-wrapper {
      margin-right: 15px; }
      #mainLayout #dashboard .dash-box .profile-image-wrapper .profile-image img {
        height: 93px;
        width: 93px;
        border-radius: 50%; }
    #mainLayout #dashboard .dash-box .dash-icon svg {
      height: 50px;
      width: 50px; }
    #mainLayout #dashboard .dash-box .dash-content-wrapper h3 {
      font-family: "poppins", sans-serif !important; }
    #mainLayout #dashboard .dash-box .dash-content-wrapper h4 {
      font-family: "poppins", sans-serif !important; }
    #mainLayout #dashboard .dash-box .dash-content-wrapper span {
      font-family: "poppins", sans-serif !important; }
    #mainLayout #dashboard .dash-box.dashboard-box-bg-1 {
      background: linear-gradient(90deg, #875FC0 0%, #5648BA 100%); }
    #mainLayout #dashboard .dash-box.dashboard-box-bg-2 {
      background: linear-gradient(90deg, #FFB82C 0%, #F57F58 100%); }
    #mainLayout #dashboard .dash-box.dashboard-box-bg-3 {
      background: linear-gradient(218deg, #B954A4 0%, #EB4885 100%); }
    #mainLayout #dashboard .dash-box.dashboard-box-bg-white {
      background: #ffffff; }
    #mainLayout #dashboard .dash-box.dashboard-box-bg-4 {
      background: #4A1185; }
    #mainLayout #dashboard .dash-box.p-35 {
      padding: 35px; }
  #mainLayout #dashboard .sms-box-wrapper {
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 15px; }
    #mainLayout #dashboard .sms-box-wrapper .title-wrapper {
      padding-left: 35px;
      padding-right: 35px; }
  #mainLayout #dashboard .box-border {
    position: relative; }
    #mainLayout #dashboard .box-border::before {
      content: '';
      width: 1px;
      height: calc(100% - 32px);
      background-color: #f2f2f2;
      position: absolute;
      left: 50%;
      top: 16px; }
    @media screen and (max-width: 991px) {
      #mainLayout #dashboard .box-border::before {
        display: none; } }
  #mainLayout #dashboard .purchase-sms-btn button {
    border-radius: 15px !important;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #FFBC6E;
    border-color: #F8A849;
    color: #C67319;
    bottom: -17px; }
    #mainLayout #dashboard .purchase-sms-btn button:hover {
      background: #F8A849;
      border-color: #C67319;
      color: #ffffff; }
  #mainLayout #dashboard .support-box {
    padding: 20px 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  #mainLayout .dashboard-box-bg-1 {
    background-image: linear-gradient(90deg, #875FC0 0%, #5648BA 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; }
  #mainLayout .dashboard-box-bg-2 {
    background-image: linear-gradient(90deg, #FFB82C 0%, #F57F58 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; }
  #mainLayout .dashboard-box-bg-3 {
    background-image: linear-gradient(218deg, #B954A4 0%, #EB4885 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; }
  #mainLayout .dashboard-box-bg-4 {
    background-image: #4A1185;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; }
  #mainLayout .dashboard-box-bg-5 {
    background-image: url("../../images/dashboard-box-bg-image.png"), linear-gradient(90deg, #F9C221 0%, #F95811 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; }
  #mainLayout .dashboard-box-bg-6 {
    background-image: url("../../images/dashboard-box-bg-image.png"), linear-gradient(90deg, #FE8989 0%, #FF1400 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; }
  #mainLayout .dashboard-box-bg-7 {
    background-image: url("../../images/dashboard-box-bg-image.png"), linear-gradient(90deg, #6382FF 0%, #F22E63 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; }
  #mainLayout .dashboard-box-bg-8 {
    background-image: url("../../images/dashboard-box-bg-image.png"), linear-gradient(90deg, #B300FD 0%, #00FEED 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; }
  #mainLayout .dashboard-box-bg-9 {
    background-image: url("../../images/dashboard-box-bg-image.png"), linear-gradient(90deg, #681dbb 0%, #4949e363 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; }
  #mainLayout .mb-30 {
    margin-bottom: 30px; }
  #mainLayout .dashbord-box-shadow {
    box-shadow: 1px 0px 19px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 0px 19px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 0px 19px -2px rgba(0, 0, 0, 0.2); }
  #mainLayout .dashboard-box-wrapper {
    padding: 25px;
    min-height: 204px;
    position: relative; }
    #mainLayout .dashboard-box-wrapper .box-icon i {
      color: #ffffff;
      font-size: 40px; }
    #mainLayout .dashboard-box-wrapper .box-icon .title {
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 0px; }
    #mainLayout .dashboard-box-wrapper .box-details {
      position: absolute;
      bottom: 25px;
      width: calc(100% - 50px); }
      #mainLayout .dashboard-box-wrapper .box-details .fontQuantity {
        font-size: 28px !important;
        color: #ffffff !important;
        font-weight: normal; }
      #mainLayout .dashboard-box-wrapper .box-details hr {
        margin-top: 0 !important;
        margin-bottom: 0 !important; }
  #mainLayout .institute-details-wrapper {
    padding: 25px;
    background: #ffffff;
    min-height: 204px; }
    #mainLayout .institute-details-wrapper .institute-logo {
      margin-bottom: 20px; }
    #mainLayout .institute-details-wrapper .institute-id {
      font-size: 22px;
      color: #000;
      display: flex;
      margin-bottom: 0; }
      #mainLayout .institute-details-wrapper .institute-id p {
        margin-bottom: 0; }
    #mainLayout .institute-details-wrapper .institute-name {
      font-size: 24px;
      color: #000; }
    #mainLayout .institute-details-wrapper .institute-address {
      font-size: 18px;
      color: #000; }
  #mainLayout .support-wrapper {
    background: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 204px; }
    #mainLayout .support-wrapper .support-logo {
      margin-right: 15px; }
    #mainLayout .support-wrapper .support-details {
      margin-top: 14px; }
      #mainLayout .support-wrapper .support-details span {
        color: #000;
        font-size: 18px; }
      #mainLayout .support-wrapper .support-details h3 {
        color: #000;
        font-size: 28px;
        margin-bottom: 0; }
  #mainLayout .mt-15 {
    margin-top: 15px; }
  #mainLayout .p-15 {
    padding: 15px; }
  #mainLayout .m-0 {
    margin: 0; }
  #mainLayout .mt-10 {
    margin-top: 10px; }
  #mainLayout .ml-10 {
    margin-left: 10px; }
  #mainLayout .mr-10 {
    margin-right: 10px; }
  #mainLayout .mt-md-25 {
    margin-top: 25px; }
  @media screen and (max-width: 992px) {
    #mainLayout .mt-md-25 {
      margin-top: 0px; } }

.id-template-bg {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  position: relative !important;
  cursor: pointer; }
  .id-template-bg .fa-check-circle {
    display: none;
    font-size: 36px;
    color: #25e84f; }
  .id-template-bg .tmp-title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .id-template-bg .tmp-title span {
      font-size: 18px;
      font-weight: bold;
      color: #6d17cb; }
  .id-template-bg.active .tmp-title {
    height: 100%;
    width: 100%;
    background: rgba(72, 18, 129, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0; }
    .id-template-bg.active .tmp-title span {
      font-size: 18px;
      font-weight: bold;
      color: #fff; }
  .id-template-bg:hover .tmp-title {
    height: 100%;
    width: 100%;
    background: rgba(72, 18, 129, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11; }
    .id-template-bg:hover .tmp-title span {
      font-size: 18px;
      font-weight: bold;
      color: #fff; }

.h-100 {
  height: 100%; }

/*footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 230px);
    background: #e7e7e7;
}
*/
/*.nav-md{
    .container.body{
        .right_col{
            margin-top: 57px;
        }
    }
}
.nav-sm{
    footer{
        position: fixed;
        bottom: 0;
        width: calc(100% - 83px);
    }
}*/
/************************************/
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem; }
  .card .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px); }
  .card .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem; }
  .card .h2, .card h2 {
    font-size: 18px;
    font-weight: 400; }

/*# sourceMappingURL=global_design.css.map */
