html, body{
    overflow-x: hidden;
}
#landingPageWrapper{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    @import 'animation.scss';
    .text-gray{
        color: #6E6E6E !important;
    }
    .line-height-default{
        line-height: 1.8;
    }
    .f-weight-500{
        font-weight: 500;
    }
    .margin-top-80{
        margin-top: 80px;
    }
    .margin-bottom-80{
        margin-bottom: 40px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        background: linear-gradient(33deg, rgba(74,17,133,1) 43%, rgba(134,48,158,1) 100%);
        -webkit-box-shadow: 0px 7px 23px -11px rgba(0,0,0,1);
        -moz-box-shadow: 0px 7px 23px -11px rgba(0,0,0,1);
        box-shadow: 0px 7px 23px -11px rgba(0,0,0,1);
    }
    .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
    }
    
    .carousel-fade  .carousel-item.active,
    .carousel-fade  .carousel-item-next.carousel-item-left,
    .carousel-fade  .carousel-item-prev.carousel-item-right {
        opacity: 1;
    }
    
    .carousel-fade .active.carousel-item-left,
    .carousel-fade  .active.carousel-item-right {
    opacity: 0;
    }
    
    .carousel-fade  .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active,
    .carousel-fade .active.carousel-item-left,
    .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
    }
    @media screen and (min-width: 768px){
        .margin-bottom-80{
            margin-bottom: 80px;
        }
    }
    .hero-section-wrapper{
        // background: rgb(74,17,133);
        padding: 15px 0px;  
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: contain;   
        position: relative;
        transition: background-color 1s linear;
        background: url('../../images/hero-section-bg-2.png'), linear-gradient(33deg, rgba(74,17,133,1) 43%, rgba(134,48,158,1) 100%);
        &.default-hero-bg{
            background: url('../../images/hero-section-bg-2.png'), linear-gradient(33deg, rgba(74,17,133,1) 43%, rgba(134,48,158,1) 100%);
        }
        &.default-hero-1{
            background: url('../../images/hero-section-bg-2.png'), linear-gradient(33deg, rgba(134,48,158,1) 100%), rgba(74,17,133,1) 43%;
        }
        &.default-hero-2{
            background: url('../../images/hero-section-bg-2.png'), linear-gradient(33deg, rgb(173, 7, 146) 43%, rgb(78, 2, 99) 100%);
        }
        &::before{
            content: '';
            background-image: url('../../images/hero-section-top-bg.png');
            height: 29vw;
            width: 44vw;
            position: absolute;
            left: -176px;
            top: -90px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
        }

        // &::after{
        //     content: '';
        //     background-image: url('../../images/hero-section-bottom-left-bg');
        //     height: 29vw;
        //     width: 44vw;
        //     position: absolute;
        //     left: -176px;
        //     top: -90px;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     background-position: bottom;
        // } 
        @media screen and (max-width:1280px){
            &::before{
                display: none;
            }
        } 
        .navbar-brand{
            img{
                width: 180px;
            }
        }
        .nav-link{
            color: #fff;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 16px;
            font-family: 'Ubuntu', sans-serif;
        }
        .top-login{
            border-radius: 25px;
            width: 156px;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 16px;
            height: 42px;
            line-height: 30px;
        }
        .navbar-toggler {
            background-color: #fff;
        }
        .carousel-inner{
            z-index: 1;
        }
        .slider-content-wrapper{
            .slider-title-wrapper{
                .slider-title{
                    h1{
                        font-weight: 700;
                        color: #fff;
                        line-height: 1.2;
                        margin: 0;
                        font-size: 36px;
                    }
                }
                .slider-content{
                    p{
                        color: #fff;
                    }
                }
            }
            
            .slider-action-wrapper{
                margin-top: 30px;
                .signup-btn{
                    a{
                        border-radius: 20px;
                        width: 115px;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 13px;
                        background: #fff;
                        color: #4A1185;
                        padding: 10px;
                        border-color: #4A1185;
                        &:hover{
                            background: #4A1185;
                            color: #fff;
                            border-color: #fff;
                        }
                    }
                }
                .video_request-link{
                    a{
                        color: #fff;
                        font-size: 13px;
                    }
                }
            }
            .col-md-4{
                max-width: 100%;
                width: 100%;
                flex: 100%;
            }
            padding-top: 100px;
            padding-bottom: 100px;
            @media screen and (min-width:980px){
                padding-top: 200px;
                padding-bottom: 200px;
                .col-md-4{
                    max-width: 33.333333%;;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }
                .slider-action-wrapper{
                    .video_request-link{
                        margin-top: 0px;
                    }
                }
            }
        }
        
        .slider-container{
            max-width: 64%;
            position: absolute;
            right: 0;
            padding-left: 12vw;
            bottom: 6vw;
            @media screen and (max-width:1280px){
                bottom: 15vw;
            } 
            .carousel{
                width: fit-content;
                .carousel-indicators{
                    bottom: -50px;
                    align-items: center;
                }
                .carousel-indicators li {
                    position: relative;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                    flex: 0 1 auto;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    margin-right: 3px;
                    margin-left: 3px;
                    text-indent: -999px;
                    background-color: #5812A2;
                }
                .carousel-indicators .active{
                    height: 10px;
                    width: 10px;
                    background-color: #5812A2;
                }
            }
            display: none;
            @media screen and (min-width:980px){
                display: block;
            }
        }
    }
    .sec-space{
        padding: 50px 0;
    } 
    .sec-space-lg{
        padding-top: 130px;
        padding-bottom: 152px;
    } 
    .margin-bottom-over-50{
        margin-bottom: -50px;
    }
    .bg-gray{
        background: #F5F5F5;
    }
    .bg-dark-blue{
        background: #4A1185;
    }
    .text-blue{
        color: #4A1185;
    }
    // @-webkit-keyframes fadeinout {
    //     0% { 
    //         opacity: 0.25; 
    //     }
    //     50% { 
    //         opacity: 0.5; 
    //     }
    //     100% {
    //         opacity: 1;
    //     }
        
    // }
      
    // @keyframes fadeinout {
    //     0% { 
    //         opacity: 0.25; 
    //     }
    //     50% { 
    //         opacity: 0.5; 
    //     }
    //     100% {
    //         opacity: 1;
    //     }
    // }
    // @keyframes updown {
    //     0% {
    //       transform: translateY(-10%);
    //     }
      
    //     50% {
    //       transform: translateY(10%);
    //     }
      
    //     100% {
    //       transform: translateY(-10%);
    //     }
    // }
    // @keyframes hideShow {
    //     0% {
    //       height: 120px;
    //       opacity: 1;
    //     }
      
    //     50% {
    //         height: 60px;
    //         opacity: 0;
    //     }
      
    //     100% {
    //         height: 120px;
    //         opacity: 1;
    //     }
    // }
    .features-animate-icon{
        z-index: 99;
    }
    @media screen and (min-width: 768px){
        .features-animate-icon{
            position: relative;
            &::before{
                display: none;
                height: 150px;
                width: 150px;
                content: '';
                background: url('../../images/animate-icon-1.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                top: -120px;
                animation: updown 5s ease infinite;
            }
        }
        .map-section-top-animation{
            position: relative;
            &::before{
                display: none;
                height: 150px;
                width: 150px;
                content: '';
                background: url('../../images/animate-icon-3.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                top: -120px;
                animation: updown 5s ease infinite;
            }
        }
        .map-section-bottom-animation{
            position: relative;
            &::before{
                display: none;
                height: 150px;
                width: 150px;
                content: '';
                background: url('../../images/animate-icon-4.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                right: 0;
                bottom: -100px;
                animation: updown 5s ease infinite;
            }
        }
        .price-table-top-animation{
            position: relative;
            &::before{
                display: none;
                height: 150px;
                width: 150px;
                content: '';
                background: url('../../images/animate-icon-5.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                top: -240px;
                animation: updown 5s ease infinite;
            }
        }
        .price-table-middle-animation{
            position: relative;
            &::after{
                display: none;
                height: 100px;
                width: 100px;
                content: '';
                background: url('../../images/animate-icon-6.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                right: 0px;
                top: -20px;
                animation: updown 5s ease infinite;
            }
        }
    }
    @media screen and (min-width: 1366px){
        .features-animate-icon{
            &::after{
                display: none;
                height: 100px;
                width: 100px;
                content: '';
                background: url('../../images/animate-icon-2.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                background-position: center center;
                right: -100px;
                bottom: 0px;
                animation: hideShow 5s ease-in-out infinite;
            }
        }
    }
    .section-title-wrapper{
        .section-title{
            h1{
                font-size: 42px;
                font-weight: 700;
                margin: 0;
                color: #4A1185;
            }
            p{
                font-size: 18px;
                color: #B1B1B1;
            }
        }
    }
    .features-tab-wrapper{
        margin-top: 40px;
        .tab-content{
            background-color: #ffffff;
            padding: 40px;
            border-radius: 30px;
        }
        .nav-tabs {
            border-bottom: none;
        }
        .nav-item{
            width: 100%;
            text-align: left;
            a{
                line-height: 1.1;
                color: #9F9F9F;
                font-size: 16px;
                padding: 15px;
                min-height: auto;
                border-radius: 1.25rem;
                img{
                    display: none;
                }
                @media screen and (min-width: 980px) {
                    min-height: 170px;
                    border-radius: 0;
                    border-top-left-radius: 1.25rem;
                    border-top-right-radius: 1.25rem;
                    img{
                        display: inline-block;
                    }
                }
                &:hover{
                    border-color: transparent;
                    color: #58238E;
                }
            }
            .active{
                color: #58238E;
                font-weight: 700;
                border: none;
            }
        }
        .tab-content-wrapper{
             .tab-content-title{
                 h4{
                     font-size: 28px;
                     color: #4A1185;
                     font-weight: 700;
                 }
             }
             .tab-content-text{
                 p{
                     font-size: 20px;
                     color: #303030;
                     line-height: 1.8;
                 }
             }
             
        }
        @media screen and (min-width: 980px) {
            .nav-item{
                text-align: center;
                width: min-content;
            }
            .nav-tabs{
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            .nav-item{
                a{
                   
                }
            }
        }
    }
    .carousel-wrapper{
        .carasoul-content-wrapper{
            .carasoul-content{
                h4{
                    color: #fff;
                    font-size: 33px;
                }
            }
            .media-body{
                h5{
                    font-size: 18px;
                    color: #ffffff;
                    font-weight: bold;
                }
                span{
                    font-size: 18px;
                    color: #ffffff;
                    font-style: italic;
                    font-weight: 200;
                }
            }
        }
        .owl-controls{
            display: none !important;
        }
    }
    .mobile-payment-full-wrapper{
        position: relative;
        background: url('../../images/payment-bottom-arrow.png');
        background-size: contain;
        background-position: left bottom;
        background-repeat: no-repeat;
        padding-bottom: 10px;
        @media screen and (min-width: 1020px) {
            &::before{
                position: absolute;
                content: "";
                left: 0;
                bottom: 214px;
                background: url('../../images/spider-left-bottom.png');
                height: 530px;
                width: 40%;
                background-position: left bottom;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
                -webkit-animation: fadeinout 4s ease-in-out infinite;
                animation: fadeinout 4s ease-in-out infinite;
            }
            &::after{
                position: absolute;
                content: "";
                right: 0;
                bottom: 214px;
                background: url('../../images/spider-right-bottom.png');
                height: 530px;
                width: 40%;
                background-position: left bottom;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
                -webkit-animation: fadeinout 4s ease-in-out infinite;
                animation: fadeinout 4s ease-in-out infinite;
            }
        }
        .mobile-payment-wrapper{
            margin-top: -20px;
        }
    }
    .price-list-warpper{
        background: url('../../images/pricinng-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
        .p-l-r{
            padding: 0 78px;
            padding-left: 58px;
        }
        .p-t-b{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .bg-dark{
            background: #5812A2 !important;
        }
        .table{
            .table-header-wrapper{
                color: #ffffff;
                padding: 35px 70px;
                &.active{
                    background:#5812A2;
                    width: 100%;
                    margin-right: 20px;
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                }
                .title{
                    font-size: 20px;
                    color: #ffffff;
                    font-family: 'Ubuntu', sans-serif;
                }
                .price{
                    font-size: 38px;
                    color: #ffffff;
                    margin-left: 2px;
                    line-height: 0.8;
                }
                .duration{
                    color: #ffffff;
                    font-size: 18px;
                }
            }
            thead{
                 th{
                     border: none;
                     padding: 0;
                 }
            }
            tbody{
                td{
                    border: none;
                    color: #ffffff;
                    padding: 0;
                }
                .text-success{
                    color: #55AA00;
                }
                .text-danger{
                    color: #F44336;
                }
            }
        } 
        .price-table-header{
            width: 1110px;
            th{
                width:295px;
            }
            th:first-child{
                width: 395px;
            }
        }
        .price-table-content{
            width: 1110px;
            border-radius: 30px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            .pt-15{
                padding-top: 15px;
            }
            .pb-15{
                padding-bottom: 15px;
            }
            .pl-20{
                padding-left: 20px;
            }
            tr{
                position: relative;
                cursor: pointer;
                &.active{
                    position: relative;
                    td{
                        border-radius: 0;
                        &:first-child{
                            border-bottom-left-radius: 15px;
                            border-top-left-radius: 15px;
                            background-color: #ffffff;
                            div{
                                color: #4A1185;
                            }
                        }
                    }
                    td:nth-child(2){
                        &.text-success {
                            color: #28a745 !important;
                        }
                    }
                    td:last-child{
                        position: relative;
                        .text-danger{
                            color: #F44336;
                        }
                        div{
                            background-color: #ffffff;
                        }
                        ::after{
                            content: '';
                            position: absolute;
                            right: -20px;
                            top: 0;
                            height: 54px;
                            width: 40px;
                            border-top-right-radius: 15px;
                            border-bottom-right-radius: 15px;
                            background: #fff;
                        }
                    }
                }
                
            }
            td{
                width:295px;
                background: #ffffff;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                .active{
                    margin-right: 20px;
                    background: #5812a2;
                }
            }
            .border-radius-left-top{
                border-top-left-radius: 30px;
            }
            .border-radius-left-bottom{
                border-bottom-left-radius: 30px;
            }
            .border-radius-right-top{
                border-top-right-radius: 30px;
            }
            .border-radius-right-bottom{
                border-bottom-right-radius: 30px;
            }
            td:first-child{
                width: 360px;
                background: transparent;
            }
        }
        .price-table-footer{
            width: 1110px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            td{
                width:295px;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                .active{
                    margin-right: 20px;
                    background: #5812a2;
                }
                .pricing-btn{
                    border-radius: 50px;
                    padding: 10px 15px;
                    background: transparent;
                    border: 2px solid #fff;
                    color: #fff;
                    font-weight: 700;
                    &:hover{
                        background-color: #ffffff;
                        color: #5812A2;
                    }
                }
            }
            td:first-child{
                width: 360px;
                background: transparent;
            }
        }
    }
    .icon-box-wrapper{
        margin-bottom: 80px;
        .box-icon{
            margin-bottom: 15px;
        }
        .box-heading{
            h4{
                font-size: 32px;
                color: #4A1185;
                font-weight: 700;
            }
        }
        .box-text{
            font-size: 20px;
            color: #6E6E6E;
        }
        @media screen and (max-width:767px){
            margin-bottom: 40px;
        }
    }
    .subscriber-wrapper{
        // margin-top: -152px;
        padding: 78px 130px;
        background: #5812A2;
        border-radius: 30px;
        position: absolute;
        z-index: 1;
        @media screen and (max-width: 1024px){
            position: relative;
        }
        .subsciber-header{
            text-align: center;
            h1{
                font-size: 36px;
                color: #ffffff;
                font-weight: 700;
                margin-bottom: 36px;
            }
        }
        .subscribe-form{
            .form-control{
                height: 72px;
                border-radius: 15px;
                color: #C4C4C4;
                background-color: #E8E8E8;
                padding-right: 67px;
            }
            .btn{
                border-radius: 15px;
                padding-left: 25px;
                padding-right: 25px;
                margin-left: -50px;
                z-index: 11;
                font-size: 18px;
                font-weight: 800;
                text-transform: uppercase;
            }
        }
    }
    .company-details-footer{
        .logo{
            img{
                width: 200px;
            }
        }
        .content{
            span{
                color: #ffffff;
                font-size: 17px;
                display: block;
            }
        }
    }
    .left-bg-image{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            background-image: url('../../images/left-bg-image.png');
            width: 225px;
            height: 560px;
            background-repeat: no-repeat;
            background-size: contain;
        }
        @media screen and (max-width: 767px){
            &::before{
                display: none;
            }
        }

    }
    .right-bg-image{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: -1px;
            top: -5px;
            background-image: url('../../images/right-bg-image.png');
            width: 168px;
            height: 509px;
            background-repeat: no-repeat;
            background-size: contain;
        }
        @media screen and (max-width: 767px){
            &::after{
                display: none;
            }
        }

    }
    .footer-bg{
        overflow: hidden;
        // background-color: #4A1185;
        background-image: url('../../images/footer-bg.png');
        background-size: auto;
        background-position: left top;
        background-repeat: no-repeat;
        padding-top: 152px;
        @media screen and (max-width: 1024px){
            padding-top: 0px;
        }
    }
    @media (max-width: 768px){
        .footer-bg{
            background-image: none;
            background-color: #4A1185;
        }
    }
    .copyright-text{
        padding-bottom: 107px;
        @media (max-width: 768px){
            padding-bottom: 50px;
        }
        p{
            color: #C2C2C2;
            text-transform: uppercase;
            font-size: 15px;
            margin-bottom: 0;
        }
    }
    .footer-menu-wrapper{
        .footer-title{
            h4{
                font-size: 17px;
                color: #ffffff;
                margin-bottom: 30px;
            }
        }
        .footer-menu{
            ul{
                padding-left: 0;
                list-style: none;
                li{
                    margin-bottom: 17px;
                    a{
                        display: flex;
                        font-size: 17px;
                        color: #ffffff;
                        align-items: center;
                        span{
                            background: #ffffff;
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            i{
                               color: #58238E;
                            }
                        }
                    }
                }
            }
        }
    }
}