html, body {
  overflow-x: hidden; }

#landingPageWrapper {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  /*--------------------------------------------------------------
  # Animations
  --------------------------------------------------------------*/ }
@keyframes ImgBounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); } }
@keyframes shapeMover {
  0%,
	100% {
    transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0); }
  50% {
    transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px); } }
@keyframes bubbleMover {
  0% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0); }
  30% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: center center;
    transform-origin: center center; }
  50% {
    -webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
    transform: translateY(50px) translateX(100px) rotate(45deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom; }
  80% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: left top;
    transform-origin: left top; }
  100% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center; } }
@keyframes banner3Shake {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg); }
  30% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  60% {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg); } }
  #landingPageWrapper [class*=banner-one__shape-] {
    position: absolute;
    display: none; }
  #landingPageWrapper [class*=app-shot__shape-] {
    position: absolute;
    display: none; }
  #landingPageWrapper [class*=cta-three__shape] {
    position: absolute;
    display: none; }
  #landingPageWrapper [class*=testimonials__one-shape-] {
    position: absolute;
    display: none; }
  #landingPageWrapper [class*=contact-one__shape-] {
    position: absolute;
    display: none; }
  @media screen and (min-width: 992px) {
    #landingPageWrapper [class*=banner-one__shape-] {
      position: absolute;
      display: block; }
    #landingPageWrapper [class*=app-shot__shape-] {
      position: absolute;
      display: block; }
    #landingPageWrapper [class*=cta-three__shape] {
      position: absolute;
      display: block; }
    #landingPageWrapper [class*=testimonials__one-shape-] {
      position: absolute;
      display: block; }
    #landingPageWrapper [class*=contact-one__shape-] {
      position: absolute;
      display: block; }
    #landingPageWrapper .banner-one__shape-2 {
      top: 17%;
      left: 7%;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: banner3Shake;
      animation-name: banner3Shake;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .banner-one__shape-3 {
      bottom: 19%;
      left: 6%; }
    #landingPageWrapper .banner-one__shape-4 {
      top: 19%;
      right: 45%;
      -webkit-animation-name: bubbleMover;
      animation-name: bubbleMover;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-duration: 8s; }
    #landingPageWrapper .banner-one__shape-5 {
      bottom: 19%;
      left: 6%;
      -webkit-animation-name: bubbleMover;
      animation-name: bubbleMover;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-duration: 10s; }
    #landingPageWrapper .banner-one__shape-6 {
      bottom: 29%;
      right: 30%;
      -webkit-animation-name: shapeMover;
      animation-name: shapeMover;
      -webkit-animation-duration: 9s;
      animation-duration: 9s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .banner-one__shape-7 {
      bottom: 19%;
      right: 6%;
      -webkit-animation-name: shapeMover;
      animation-name: shapeMover;
      -webkit-animation-duration: 9s;
      animation-duration: 9s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-delay: 2s; }
    #landingPageWrapper .banner-one__shape-moc-1 {
      top: -25%;
      right: 0%;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .banner-one__moc {
      position: absolute;
      bottom: 45px;
      right: -30px;
      animation: ImgBounce 5s ease-in-out 0s infinite alternate; }
    #landingPageWrapper .app-shot__shape-1 {
      left: -13%;
      top: 25%;
      z-index: 11;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .cta-three__shape-3 {
      bottom: 15%;
      right: 0;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: banner3Shake;
      animation-name: banner3Shake;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .testimonials__one-shape-1 {
      top: -43px;
      left: 2%;
      -webkit-animation-name: bubbleMover;
      animation-name: bubbleMover;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-duration: 8s; }
    #landingPageWrapper .testimonials__one-shape-2 {
      top: 6%;
      right: 6%;
      -webkit-animation-name: shapeMover;
      animation-name: shapeMover;
      -webkit-animation-duration: 9s;
      animation-duration: 9s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    #landingPageWrapper .contact-one__shape-2 {
      left: 2%;
      top: -62px;
      -webkit-animation-name: bubbleMover;
      animation-name: bubbleMover;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-duration: 8s; }
    #landingPageWrapper .contact-one__shape-3 {
      right: -231.5px;
      bottom: 90px;
      z-index: 11;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 5s;
      animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; } }
  #landingPageWrapper .text-gray {
    color: #6E6E6E !important; }
  #landingPageWrapper .line-height-default {
    line-height: 1.8; }
  #landingPageWrapper .f-weight-500 {
    font-weight: 500; }
  #landingPageWrapper .margin-top-80 {
    margin-top: 80px; }
  #landingPageWrapper .margin-bottom-80 {
    margin-bottom: 40px; }
  #landingPageWrapper .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(33deg, #4a1185 43%, #86309e 100%);
    -webkit-box-shadow: 0px 7px 23px -11px black;
    -moz-box-shadow: 0px 7px 23px -11px black;
    box-shadow: 0px 7px 23px -11px black; }
  #landingPageWrapper .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity; }
  #landingPageWrapper .carousel-fade .carousel-item.active,
  #landingPageWrapper .carousel-fade .carousel-item-next.carousel-item-left,
  #landingPageWrapper .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1; }
  #landingPageWrapper .carousel-fade .active.carousel-item-left,
  #landingPageWrapper .carousel-fade .active.carousel-item-right {
    opacity: 0; }
  #landingPageWrapper .carousel-fade .carousel-item-next,
  #landingPageWrapper .carousel-fade .carousel-item-prev,
  #landingPageWrapper .carousel-fade .carousel-item.active,
  #landingPageWrapper .carousel-fade .active.carousel-item-left,
  #landingPageWrapper .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0); }
  @media screen and (min-width: 768px) {
    #landingPageWrapper .margin-bottom-80 {
      margin-bottom: 80px; } }
  #landingPageWrapper .hero-section-wrapper {
    padding: 15px 0px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    transition: background-color 1s linear;
    background: url("../../images/hero-section-bg-2.png"), linear-gradient(33deg, #4a1185 43%, #86309e 100%); }
    #landingPageWrapper .hero-section-wrapper.default-hero-bg {
      background: url("../../images/hero-section-bg-2.png"), linear-gradient(33deg, #4a1185 43%, #86309e 100%); }
    #landingPageWrapper .hero-section-wrapper.default-hero-1 {
      background: url("../../images/hero-section-bg-2.png"), linear-gradient(33deg, #86309e 100%), #4a1185 43%; }
    #landingPageWrapper .hero-section-wrapper.default-hero-2 {
      background: url("../../images/hero-section-bg-2.png"), linear-gradient(33deg, #ad0792 43%, #4e0263 100%); }
    #landingPageWrapper .hero-section-wrapper::before {
      content: '';
      background-image: url("../../images/hero-section-top-bg.png");
      height: 29vw;
      width: 44vw;
      position: absolute;
      left: -176px;
      top: -90px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom; }
    @media screen and (max-width: 1280px) {
      #landingPageWrapper .hero-section-wrapper::before {
        display: none; } }
    #landingPageWrapper .hero-section-wrapper .navbar-brand img {
      width: 180px; }
    #landingPageWrapper .hero-section-wrapper .nav-link {
      color: #fff;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 16px;
      font-family: 'Ubuntu', sans-serif; }
    #landingPageWrapper .hero-section-wrapper .top-login {
      border-radius: 25px;
      width: 156px;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 16px;
      height: 42px;
      line-height: 30px; }
    #landingPageWrapper .hero-section-wrapper .navbar-toggler {
      background-color: #fff; }
    #landingPageWrapper .hero-section-wrapper .carousel-inner {
      z-index: 1; }
    #landingPageWrapper .hero-section-wrapper .slider-content-wrapper {
      padding-top: 100px;
      padding-bottom: 100px; }
      #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-title-wrapper .slider-title h1 {
        font-weight: 700;
        color: #fff;
        line-height: 1.2;
        margin: 0;
        font-size: 36px; }
      #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-title-wrapper .slider-content p {
        color: #fff; }
      #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper {
        margin-top: 30px; }
        #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper .signup-btn a {
          border-radius: 20px;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 13px;
          background: #fff;
          color: #4A1185;
          padding: 10px;
          border-color: #4A1185; }
          #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper .signup-btn a:hover {
            background: #4A1185;
            color: #fff;
            border-color: #fff; }
        #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper .video_request-link a {
          color: #fff;
          font-size: 13px; }
      #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .col-md-4 {
        max-width: 100%;
        width: 100%;
        flex: 100%; }
      @media screen and (min-width: 980px) {
        #landingPageWrapper .hero-section-wrapper .slider-content-wrapper {
          padding-top: 200px;
          padding-bottom: 200px; }
          #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .col-md-4 {
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%; }
          #landingPageWrapper .hero-section-wrapper .slider-content-wrapper .slider-action-wrapper .video_request-link {
            margin-top: 0px; } }
    #landingPageWrapper .hero-section-wrapper .slider-container {
      max-width: 64%;
      position: absolute;
      right: 0;
      padding-left: 12vw;
      bottom: 6vw;
      display: none; }
      @media screen and (max-width: 1280px) {
        #landingPageWrapper .hero-section-wrapper .slider-container {
          bottom: 15vw; } }
      #landingPageWrapper .hero-section-wrapper .slider-container .carousel {
        width: fit-content; }
        #landingPageWrapper .hero-section-wrapper .slider-container .carousel .carousel-indicators {
          bottom: -50px;
          align-items: center; }
        #landingPageWrapper .hero-section-wrapper .slider-container .carousel .carousel-indicators li {
          position: relative;
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin-right: 3px;
          margin-left: 3px;
          text-indent: -999px;
          background-color: #5812A2; }
        #landingPageWrapper .hero-section-wrapper .slider-container .carousel .carousel-indicators .active {
          height: 10px;
          width: 10px;
          background-color: #5812A2; }
      @media screen and (min-width: 980px) {
        #landingPageWrapper .hero-section-wrapper .slider-container {
          display: block; } }
  #landingPageWrapper .sec-space {
    padding: 50px 0; }
  #landingPageWrapper .sec-space-lg {
    padding-top: 130px;
    padding-bottom: 152px; }
  #landingPageWrapper .margin-bottom-over-50 {
    margin-bottom: -50px; }
  #landingPageWrapper .bg-gray {
    background: #F5F5F5; }
  #landingPageWrapper .bg-dark-blue {
    background: #4A1185; }
  #landingPageWrapper .text-blue {
    color: #4A1185; }
  #landingPageWrapper .features-animate-icon {
    z-index: 99; }
  @media screen and (min-width: 768px) {
    #landingPageWrapper .features-animate-icon {
      position: relative; }
      #landingPageWrapper .features-animate-icon::before {
        display: none;
        height: 150px;
        width: 150px;
        content: '';
        background: url("../../images/animate-icon-1.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: -120px;
        animation: updown 5s ease infinite; }
    #landingPageWrapper .map-section-top-animation {
      position: relative; }
      #landingPageWrapper .map-section-top-animation::before {
        display: none;
        height: 150px;
        width: 150px;
        content: '';
        background: url("../../images/animate-icon-3.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: -120px;
        animation: updown 5s ease infinite; }
    #landingPageWrapper .map-section-bottom-animation {
      position: relative; }
      #landingPageWrapper .map-section-bottom-animation::before {
        display: none;
        height: 150px;
        width: 150px;
        content: '';
        background: url("../../images/animate-icon-4.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 0;
        bottom: -100px;
        animation: updown 5s ease infinite; }
    #landingPageWrapper .price-table-top-animation {
      position: relative; }
      #landingPageWrapper .price-table-top-animation::before {
        display: none;
        height: 150px;
        width: 150px;
        content: '';
        background: url("../../images/animate-icon-5.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: -240px;
        animation: updown 5s ease infinite; }
    #landingPageWrapper .price-table-middle-animation {
      position: relative; }
      #landingPageWrapper .price-table-middle-animation::after {
        display: none;
        height: 100px;
        width: 100px;
        content: '';
        background: url("../../images/animate-icon-6.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 0px;
        top: -20px;
        animation: updown 5s ease infinite; } }
  @media screen and (min-width: 1366px) {
    #landingPageWrapper .features-animate-icon::after {
      display: none;
      height: 100px;
      width: 100px;
      content: '';
      background: url("../../images/animate-icon-2.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      background-position: center center;
      right: -100px;
      bottom: 0px;
      animation: hideShow 5s ease-in-out infinite; } }
  #landingPageWrapper .section-title-wrapper .section-title h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    color: #4A1185; }
  #landingPageWrapper .section-title-wrapper .section-title p {
    font-size: 18px;
    color: #B1B1B1; }
  #landingPageWrapper .features-tab-wrapper {
    margin-top: 40px; }
    #landingPageWrapper .features-tab-wrapper .tab-content {
      background-color: #ffffff;
      padding: 40px;
      border-radius: 30px; }
    #landingPageWrapper .features-tab-wrapper .nav-tabs {
      border-bottom: none; }
    #landingPageWrapper .features-tab-wrapper .nav-item {
      width: 100%;
      text-align: left; }
      #landingPageWrapper .features-tab-wrapper .nav-item a {
        line-height: 1.1;
        color: #9F9F9F;
        font-size: 16px;
        padding: 15px 15px;
        min-height: auto;
        border-radius: 1.25rem; }
        #landingPageWrapper .features-tab-wrapper .nav-item a img {
          display: none; }
        @media screen and (min-width: 980px) {
          #landingPageWrapper .features-tab-wrapper .nav-item a {
            min-height: 170px;
            border-radius: 0;
            border-top-left-radius: 1.25rem;
            border-top-right-radius: 1.25rem; }
            #landingPageWrapper .features-tab-wrapper .nav-item a img {
              display: inline-block; } }
        #landingPageWrapper .features-tab-wrapper .nav-item a:hover {
          border-color: transparent;
          color: #58238E; }
      #landingPageWrapper .features-tab-wrapper .nav-item .active {
        color: #58238E;
        font-weight: 700;
        border: none; }
    #landingPageWrapper .features-tab-wrapper .tab-content-wrapper .tab-content-title h4 {
      font-size: 28px;
      color: #4A1185;
      font-weight: 700; }
    #landingPageWrapper .features-tab-wrapper .tab-content-wrapper .tab-content-text p {
      font-size: 20px;
      color: #303030;
      line-height: 1.8; }
    @media screen and (min-width: 980px) {
      #landingPageWrapper .features-tab-wrapper .nav-item {
        text-align: center;
        width: min-content; }
      #landingPageWrapper .features-tab-wrapper .nav-tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start; } }
  #landingPageWrapper .carousel-wrapper .carasoul-content-wrapper .carasoul-content h4 {
    color: #fff;
    font-size: 33px; }
  #landingPageWrapper .carousel-wrapper .carasoul-content-wrapper .media-body h5 {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold; }
  #landingPageWrapper .carousel-wrapper .carasoul-content-wrapper .media-body span {
    font-size: 18px;
    color: #ffffff;
    font-style: italic;
    font-weight: 200; }
  #landingPageWrapper .carousel-wrapper .owl-controls {
    display: none !important; }
  #landingPageWrapper .mobile-payment-full-wrapper {
    position: relative;
    background: url("../../images/payment-bottom-arrow.png");
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 10px; }
    @media screen and (min-width: 1020px) {
      #landingPageWrapper .mobile-payment-full-wrapper::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 214px;
        background: url("../../images/spider-left-bottom.png");
        height: 530px;
        width: 40%;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        -webkit-animation: fadeinout 4s ease-in-out infinite;
        animation: fadeinout 4s ease-in-out infinite; }
      #landingPageWrapper .mobile-payment-full-wrapper::after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 214px;
        background: url("../../images/spider-right-bottom.png");
        height: 530px;
        width: 40%;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        -webkit-animation: fadeinout 4s ease-in-out infinite;
        animation: fadeinout 4s ease-in-out infinite; } }
    #landingPageWrapper .mobile-payment-full-wrapper .mobile-payment-wrapper {
      margin-top: -20px; }
  #landingPageWrapper .price-list-warpper {
    background: url("../../images/pricinng-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top; }
    #landingPageWrapper .price-list-warpper .p-l-r {
      padding: 0 78px;
      padding-left: 58px; }
    #landingPageWrapper .price-list-warpper .p-t-b {
      padding-top: 20px;
      padding-bottom: 20px; }
    #landingPageWrapper .price-list-warpper .bg-dark {
      background: #5812A2 !important; }
    #landingPageWrapper .price-list-warpper .table .table-header-wrapper {
      color: #ffffff;
      padding: 35px 70px; }
      #landingPageWrapper .price-list-warpper .table .table-header-wrapper.active {
        background: #5812A2;
        width: 100%;
        margin-right: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px; }
      #landingPageWrapper .price-list-warpper .table .table-header-wrapper .title {
        font-size: 20px;
        color: #ffffff;
        font-family: 'Ubuntu', sans-serif; }
      #landingPageWrapper .price-list-warpper .table .table-header-wrapper .price {
        font-size: 38px;
        color: #ffffff;
        margin-left: 2px;
        line-height: 0.8; }
      #landingPageWrapper .price-list-warpper .table .table-header-wrapper .duration {
        color: #ffffff;
        font-size: 18px; }
    #landingPageWrapper .price-list-warpper .table thead th {
      border: none;
      padding: 0; }
    #landingPageWrapper .price-list-warpper .table tbody td {
      border: none;
      color: #ffffff;
      padding: 0; }
    #landingPageWrapper .price-list-warpper .table tbody .text-success {
      color: #55AA00; }
    #landingPageWrapper .price-list-warpper .table tbody .text-danger {
      color: #F44336; }
    #landingPageWrapper .price-list-warpper .price-table-header {
      width: 1110px; }
      #landingPageWrapper .price-list-warpper .price-table-header th {
        width: 295px; }
      #landingPageWrapper .price-list-warpper .price-table-header th:first-child {
        width: 395px; }
    #landingPageWrapper .price-list-warpper .price-table-content {
      width: 1110px;
      border-radius: 30px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
      #landingPageWrapper .price-list-warpper .price-table-content .pt-15 {
        padding-top: 15px; }
      #landingPageWrapper .price-list-warpper .price-table-content .pb-15 {
        padding-bottom: 15px; }
      #landingPageWrapper .price-list-warpper .price-table-content .pl-20 {
        padding-left: 20px; }
      #landingPageWrapper .price-list-warpper .price-table-content tr {
        position: relative;
        cursor: pointer; }
        #landingPageWrapper .price-list-warpper .price-table-content tr.active {
          position: relative; }
          #landingPageWrapper .price-list-warpper .price-table-content tr.active td {
            border-radius: 0; }
            #landingPageWrapper .price-list-warpper .price-table-content tr.active td:first-child {
              border-bottom-left-radius: 15px;
              border-top-left-radius: 15px;
              background-color: #ffffff; }
              #landingPageWrapper .price-list-warpper .price-table-content tr.active td:first-child div {
                color: #4A1185; }
          #landingPageWrapper .price-list-warpper .price-table-content tr.active td:nth-child(2).text-success {
            color: #28a745 !important; }
          #landingPageWrapper .price-list-warpper .price-table-content tr.active td:last-child {
            position: relative; }
            #landingPageWrapper .price-list-warpper .price-table-content tr.active td:last-child .text-danger {
              color: #F44336; }
            #landingPageWrapper .price-list-warpper .price-table-content tr.active td:last-child div {
              background-color: #ffffff; }
            #landingPageWrapper .price-list-warpper .price-table-content tr.active td:last-child ::after {
              content: '';
              position: absolute;
              right: -20px;
              top: 0;
              height: 54px;
              width: 40px;
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
              background: #fff; }
      #landingPageWrapper .price-list-warpper .price-table-content td {
        width: 295px;
        background: #ffffff;
        padding-top: 0px !important;
        padding-bottom: 0px !important; }
        #landingPageWrapper .price-list-warpper .price-table-content td .active {
          margin-right: 20px;
          background: #5812a2; }
      #landingPageWrapper .price-list-warpper .price-table-content .border-radius-left-top {
        border-top-left-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-content .border-radius-left-bottom {
        border-bottom-left-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-content .border-radius-right-top {
        border-top-right-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-content .border-radius-right-bottom {
        border-bottom-right-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-content td:first-child {
        width: 360px;
        background: transparent; }
    #landingPageWrapper .price-list-warpper .price-table-footer {
      width: 1110px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px; }
      #landingPageWrapper .price-list-warpper .price-table-footer td {
        width: 295px;
        padding-top: 0px !important;
        padding-bottom: 0px !important; }
        #landingPageWrapper .price-list-warpper .price-table-footer td .active {
          margin-right: 20px;
          background: #5812a2; }
        #landingPageWrapper .price-list-warpper .price-table-footer td .pricing-btn {
          border-radius: 50px;
          padding: 10px 15px;
          background: transparent;
          border: 2px solid #fff;
          color: #fff;
          font-weight: 700; }
          #landingPageWrapper .price-list-warpper .price-table-footer td .pricing-btn:hover {
            background-color: #ffffff;
            color: #5812A2; }
      #landingPageWrapper .price-list-warpper .price-table-footer td:first-child {
        width: 360px;
        background: transparent; }
  #landingPageWrapper .icon-box-wrapper {
    margin-bottom: 80px; }
    #landingPageWrapper .icon-box-wrapper .box-icon {
      margin-bottom: 15px; }
    #landingPageWrapper .icon-box-wrapper .box-heading h4 {
      font-size: 32px;
      color: #4A1185;
      font-weight: 700; }
    #landingPageWrapper .icon-box-wrapper .box-text {
      font-size: 20px;
      color: #6E6E6E; }
    @media screen and (max-width: 767px) {
      #landingPageWrapper .icon-box-wrapper {
        margin-bottom: 40px; } }
  #landingPageWrapper .subscriber-wrapper {
    padding: 78px 130px;
    background: #5812A2;
    border-radius: 30px;
    position: absolute;
    z-index: 1; }
    @media screen and (max-width: 1024px) {
      #landingPageWrapper .subscriber-wrapper {
        position: relative; } }
    #landingPageWrapper .subscriber-wrapper .subsciber-header {
      text-align: center; }
      #landingPageWrapper .subscriber-wrapper .subsciber-header h1 {
        font-size: 36px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 36px; }
    #landingPageWrapper .subscriber-wrapper .subscribe-form .form-control {
      height: 72px;
      border-radius: 15px;
      color: #C4C4C4;
      background-color: #E8E8E8;
      padding-right: 67px; }
    #landingPageWrapper .subscriber-wrapper .subscribe-form .btn {
      border-radius: 15px;
      padding-left: 25px;
      padding-right: 25px;
      margin-left: -50px;
      z-index: 11;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase; }
  #landingPageWrapper .company-details-footer .logo {
    margin-bottom: 20px; }
    #landingPageWrapper .company-details-footer .logo img {
      width: 200px; }
  #landingPageWrapper .company-details-footer .content span {
    color: #ffffff;
    font-size: 17px;
    display: block; }
  #landingPageWrapper .left-bg-image {
    position: relative; }
    #landingPageWrapper .left-bg-image::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      background-image: url("../../images/left-bg-image.png");
      width: 225px;
      height: 560px;
      background-repeat: no-repeat;
      background-size: contain; }
    @media screen and (max-width: 767px) {
      #landingPageWrapper .left-bg-image::before {
        display: none; } }
  #landingPageWrapper .right-bg-image {
    position: relative; }
    #landingPageWrapper .right-bg-image::after {
      content: '';
      position: absolute;
      right: -1px;
      top: -5px;
      background-image: url("../../images/right-bg-image.png");
      width: 168px;
      height: 509px;
      background-repeat: no-repeat;
      background-size: contain; }
    @media screen and (max-width: 767px) {
      #landingPageWrapper .right-bg-image::after {
        display: none; } }
  #landingPageWrapper #paymentStepSlider {
    width: max-content;
    margin: 0 auto;
    max-width: 40%; }
  #landingPageWrapper #paymentStepSliderCount {
    position: absolute;
    left: 19%; }
    @media screen and (max-width: 1200px) {
      #landingPageWrapper #paymentStepSliderCount {
        left: 22%; } }
    #landingPageWrapper #paymentStepSliderCount .carousel-inner {
      transform: rotate(270deg); }
    #landingPageWrapper #paymentStepSliderCount span {
      font-size: 110px;
      color: #4A1185; }
    @media screen and (max-width: 1200px) {
      #landingPageWrapper #paymentStepSliderCount .carousel-item span {
        font-size: 5vw;
        color: #4A1185; } }
  #landingPageWrapper .paymentStepSliderWrapper {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0; }
  #landingPageWrapper .footer-bg {
    overflow: hidden;
    background-image: url("../../images/footer-bg.png");
    background-size: auto;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 152px; }
    @media screen and (max-width: 1024px) {
      #landingPageWrapper .footer-bg {
        padding-top: 0px; } }
  @media (max-width: 768px) {
    #landingPageWrapper .footer-bg {
      background-image: none;
      background-color: #4A1185; } }
  #landingPageWrapper .copyright-text {
    padding-bottom: 107px; }
    @media (max-width: 768px) {
      #landingPageWrapper .copyright-text {
        padding-bottom: 50px; } }
    #landingPageWrapper .copyright-text p {
      color: #C2C2C2;
      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 0; }
  #landingPageWrapper .footer-menu-wrapper .footer-title h4 {
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 30px; }
  #landingPageWrapper .footer-menu-wrapper .footer-menu ul {
    padding-left: 0;
    list-style: none; }
    #landingPageWrapper .footer-menu-wrapper .footer-menu ul li {
      margin-bottom: 17px; }
      #landingPageWrapper .footer-menu-wrapper .footer-menu ul li a {
        display: flex;
        font-size: 17px;
        color: #ffffff;
        align-items: center; }
        #landingPageWrapper .footer-menu-wrapper .footer-menu ul li a span {
          background: #ffffff;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px; }
          #landingPageWrapper .footer-menu-wrapper .footer-menu ul li a span i {
            color: #58238E; }

/*# sourceMappingURL=landingPage.css.map */
