.bg-login-container {
  margin-top: 100px !important;
  margin-bottom: 100px !important; }

@media screen and (min-width: 991px) {
  html, body {
    height: 100%; }

  .bg-login-container {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative; }
    .bg-login-container::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -100px;
      height: 185px;
      width: 100%;
      background: url("../../images/login-bottom-shadow.png");
      z-index: -1;
      background-repeat: no-repeat;
      background-position: center bottom; } }
#loginRegistation {
  background: url("../../images/loginpage-bg.png");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  #loginRegistation .bg-login-container {
    background-image: url("../../images/login-container-part-bg.png");
    background-color: #ffffff; }
    @media screen and (max-width: 991px) {
      #loginRegistation .bg-login-container {
        background-image: none;
        padding: 40px 20px;
        margin: 15px;
        background-size: cover !important; }
        #loginRegistation .bg-login-container .col-md-5 {
          display: none !important; }
        #loginRegistation .bg-login-container .col-md-7 {
          width: 100% !important;
          max-width: 100% !important;
          flex: 0 0 100% !important; } }
  #loginRegistation .rounded {
    border-radius: 40px !important; }
  #loginRegistation .btn-primary.focus, #loginRegistation .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(86, 37, 165, 0.5); }
  #loginRegistation .container {
    width: 100%; }
    @media screen and (min-width: 992px) {
      #loginRegistation .container {
        width: 946px;
        max-width: 946px; }
        #loginRegistation .container .col-md-5, #loginRegistation .container .col-md-7 {
          padding-left: 0;
          padding-right: 0; } }
    #loginRegistation .container .login-form-wrapper {
      padding-left: 60px;
      padding-right: 60px;
      height: 100%; }
      #loginRegistation .container .login-form-wrapper .login-form .login-title {
        margin-bottom: 30px; }
        #loginRegistation .container .login-form-wrapper .login-form .login-title h1 {
          font-size: 32px;
          color: #5625A5;
          font-weight: 700;
          margin-bottom: 5px;
          text-transform: uppercase; }
        #loginRegistation .container .login-form-wrapper .login-form .login-title p {
          font-size: 12px;
          color: #000000; }
      #loginRegistation .container .login-form-wrapper .login-form label {
        font-size: 15px;
        color: #C1C1C1; }
      #loginRegistation .container .login-form-wrapper .login-form .form-control {
        height: 40px;
        font-size: 15px;
        color: #000000; }
        #loginRegistation .container .login-form-wrapper .login-form .form-control:focus {
          box-shadow: none; }
      #loginRegistation .container .login-form-wrapper .login-form .input-group {
        border-bottom: 1px solid #C1C1C1;
        margin-bottom: 30px; }
        #loginRegistation .container .login-form-wrapper .login-form .input-group .input-group-text {
          background: transparent;
          border: none;
          color: #000000; }
        #loginRegistation .container .login-form-wrapper .login-form .input-group .form-control {
          border: none;
          font-size: 13px; }
        #loginRegistation .container .login-form-wrapper .login-form .input-group .btn-outline-secondary {
          border-color: #ced4da;
          border: none; }
          #loginRegistation .container .login-form-wrapper .login-form .input-group .btn-outline-secondary i {
            color: #C1C1C1; }
          #loginRegistation .container .login-form-wrapper .login-form .input-group .btn-outline-secondary:hover {
            background: transparent; }
        #loginRegistation .container .login-form-wrapper .login-form .input-group .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, #loginRegistation .container .login-form-wrapper .login-form .input-group .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, #loginRegistation .container .login-form-wrapper .login-form .input-group .show > .btn-outline-secondary.dropdown-toggle:focus {
          box-shadow: none; }
        #loginRegistation .container .login-form-wrapper .login-form .input-group .btn-outline-secondary.focus, #loginRegistation .container .login-form-wrapper .login-form .input-group .btn-outline-secondary:focus {
          box-shadow: none; }
      #loginRegistation .container .login-form-wrapper .login-form .form-check {
        position: relative; }
        #loginRegistation .container .login-form-wrapper .login-form .form-check .form-check-input {
          margin-top: .2rem; }
        #loginRegistation .container .login-form-wrapper .login-form .form-check .form-check-label {
          font-size: 12px;
          color: #929292; }
        #loginRegistation .container .login-form-wrapper .login-form .form-check .form-check-input:checked ~ .checkboxBg:after {
          display: block; }
        #loginRegistation .container .login-form-wrapper .login-form .form-check .checkboxBg {
          position: relative; }
          #loginRegistation .container .login-form-wrapper .login-form .form-check .checkboxBg::after {
            display: none;
            content: "";
            height: 14px;
            width: 14px;
            background: #5625A5;
            position: absolute;
            left: -130px;
            top: 1px;
            border-radius: 3px; }
      #loginRegistation .container .login-form-wrapper .login-form .social-wrapper {
        border-top: 1px solid #C1C1C1;
        padding-top: 10px;
        margin-top: 70px; }
        #loginRegistation .container .login-form-wrapper .login-form .social-wrapper i {
          color: #5625A5;
          font-size: 22px; }
        #loginRegistation .container .login-form-wrapper .login-form .social-wrapper a {
          color: #C1C1C1;
          font-size: 14px; }
      #loginRegistation .container .login-form-wrapper #signUp, #loginRegistation .container .login-form-wrapper #resetpasswordbtn, #loginRegistation .container .login-form-wrapper #sendsmstokenbtn {
        background: #5625A5;
        font-size: 13px;
        margin-top: 30px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        width: 166px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 50px;
        border-color: #5625A5; }
        #loginRegistation .container .login-form-wrapper #signUp:hover, #loginRegistation .container .login-form-wrapper #resetpasswordbtn:hover, #loginRegistation .container .login-form-wrapper #sendsmstokenbtn:hover {
          background: #450fb3; }
      #loginRegistation .container .login-form-wrapper .forget-pasword-wrapper {
        font-size: 13px; }
        #loginRegistation .container .login-form-wrapper .forget-pasword-wrapper p {
          color: #C1C1C1; }
      #loginRegistation .container .login-form-wrapper .forget-password {
        font-size: 13px;
        color: #3296fa; }
        #loginRegistation .container .login-form-wrapper .forget-password:hover {
          text-decoration: underline; }
  #loginRegistation .login-error-alert {
    position: absolute !important;
    right: 10px !important;
    top: 10px !important; }
  #loginRegistation input:-webkit-autofill,
  #loginRegistation input:-webkit-autofill:hover,
  #loginRegistation input:-webkit-autofill:focus,
  #loginRegistation textarea:-webkit-autofill,
  #loginRegistation textarea:-webkit-autofill:hover,
  #loginRegistation textarea:-webkit-autofill:focus,
  #loginRegistation select:-webkit-autofill,
  #loginRegistation select:-webkit-autofill:hover,
  #loginRegistation select:-webkit-autofill:focus {
    border: 1px solid transparent;
    -webkit-text-fill-color: #000000;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s; }
    
 .bg-login-container > img{
	width: 100%;
    border-top-left-radius: 39px;
    border-bottom-left-radius: 39px;
    height: 100%;
}

/*# sourceMappingURL=loginAndRegistration.css.map */
