
$loginPageBackground: #3296fa;
$loginFormWrapper:#C8D2C5;
$textColor:#5625A5;
$textColorBlack:#000000;
$whiteBg: #ffffff;
$btnColor:#450fb3;
$btnPrimary:#5625A5;
$grayColor:#C1C1C1;
$primaryGradient: radial-gradient( circle farthest-corner at 10% 20%,  rgba(120,50,255,1) 0%, rgba(50,150,250,1) 91% );
.bg-login-container{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}
@media screen and (min-width:991px) {
    html, body{
        height: 100%;
    }
    .bg-login-container{
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -100px;
            height: 185px;
            width: 100%;
            background: url('../../images/login-bottom-shadow.png');
            z-index: -1;
            background-repeat: no-repeat;
            background-position: center bottom;
        }
    }
}
// body{
//     background:$whiteBg;
//     background-position: left top;
//     background-size: 100% 100%;
//     background-repeat: no-repeat;
// }
// .login-form-wrapper{
//     background: $whiteBg;
//     border-radius: 10px;
//     padding: 3rem 3rem;
//     .login-form-logo{
//         margin-bottom: 15px;
//     }
//     .login-title{
//         margin-bottom: 20px;
//         p{
//             font-weight: 500;
//             font-size: 18px;
//             margin-bottom: 0;
//             line-height: 1.8;
//             color: $textColorBlack;
//         }
//     }
//     .form-control{
//         border:none;
//         border-bottom: 2px solid $textColor;
//         border-radius: 0;
//     }
//     .forget-password{
//         color: #000;
//         &:hover{
//             color: #000;
//             text-decoration: underline;
//         }
//     }
//     .form-group{
//         margin-bottom: 30px;
//         position: relative;
//         .form-control{
//             padding-left: 30px;
//             background: transparent;
//         }
//         label{
//             position: absolute;
//             top: 5px;
//             color: $grayColor;
//             pointer-events: none;
//             left: 30px;
//             margin-bottom: 0px;
//             transition: background 0.2s,
//                         color 0.2s,
//                         top 0.2s,
//                         bottom 0.2s,
//                         right 0.2s,
//                         left 0.2s;
//         }
//         .form-control:focus{
//             box-shadow: none;
//         }
//         .form-control:focus + label{
//             top: -20px;
//             color: $textColor;
//             font-weight: 700;
//             left: 0px;
//         }
//         .form-control:focus~label,
//         .form-control:not(:placeholder-shown)~label {
//           top: -20px;
//           font-size: 14px;
//           color: $textColor;
//           font-weight: 700;
//           left: 0px;
//         }
//         i{
//             position: absolute;
//             top: 10px;
//             left: 5px;
//             color: #000;
//         }
//     }
//     .btn-primary {
//         color: $whiteBg;
//         background-color: $btnColor;
//         border-color: $btnColor;
//     }
//     .btn-primary:hover {
//         color: $whiteBg;
//         background-color: $btnPrimary;
//         border-color: $btnPrimary;
//     }
//     .btn-primary:focus{
//             box-shadow: 0 0 0 0.2rem rgba(89, 149, 138, 0.5);
//     }
//     .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
//         color: $whiteBg;
//         background-color: $btnColor;
//         border-color: $btnColor;
//     }
//     .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
//         box-shadow: 0 0 0 0.2rem rgba(89, 149, 138, 0.5);
//     }
//     .form-check-label {
//         margin-bottom: 0;
//         font-size: 14px;
//     }
// }
// .login-error-alert{
//     position: absolute;
//     right: 10px;
//     top: 10px;
// }
// input:-webkit-autofill,
// input:-webkit-autofill:hover, 
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   -webkit-box-shadow: 0 0 0px 1000px transparent inset;
//   transition: background-color 5000s ease-in-out 0s;
// }
// .login-page-wrapper{
//     height: 100%;
//     display: flex;
//     align-items: center;
//     .login-text-wrapper{
//         display: none;
//         .login-text{
//             margin-top: 20px;
//         }
//         .login-title{
//             color: $whiteBg;
//             font-size: 1.5rem;
//             font-weight: 500;
//         }
//         .login-subtitle{
//             font-size: 1.2rem;
//             font-weight: 200;
//             margin: 1rem 0 3rem 0;
//             color: rgba(255, 255, 255, 0.7);
//         }
//     }
//     .login-form-wrapper{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 100%;
//         background-repeat: no-repeat;
//         background-size: cover; 
//         background-position: top;
//         .login-form-inner{
//             width: 100%;
//             max-width: 350px;
//         }
//     }
    
//     @media screen and (min-width:1024px){
//         .login-text-wrapper{
//             height: 100%;
//             width: 600px;
//             padding: 3rem 3.5rem;
//             background-repeat: no-repeat;
//             background-size: cover; 
//             background: url('../../images/bg-4.jpg');
//             background-position: top;
//             display: flex;
//             align-items: center;
//         }
//         .login-form-wrapper{
//             width: calc(100% - 600px);
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             background: transparent;
//             .login-form-inner{
//                 width: 100%;
//                 max-width: 350px;
//             }
//         }
//     }
// }
// @media screen and (max-width:1023px){
//     .login-page-wrapper{
//         background: url('../../images/bg-4.jpg');
//     }
//     .login-form-wrapper {
//         background: transparent;
//         .login-form-inner{
//             background: $whiteBg;
//             padding: 1.5rem;
//         }
//     }
// }

#loginRegistation{
    background: url('../../images/loginpage-bg.png');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    .bg-login-container{
        background-image: url('../../images/login-container-part-bg.png');
        background-color: $whiteBg;
        @media screen and (max-width: 991px){
            background-image: none;
            padding:40px 20px;
            margin: 15px;
            background-size: cover !important;
            .col-md-5{
                display: none !important;
            }
            .col-md-7{
                width: 100% !important;
                max-width: 100% !important;
                flex: 0 0 100% !important;
            }
        }
    }
    .rounded {
        border-radius: 40px!important;
    }
    .btn-primary.focus, .btn-primary:focus{
        box-shadow: 0 0 0 0.2rem rgba(86, 37, 165, 0.5);
    }
    .container{
        width: 100%;
        @media screen and (min-width: 992px){
            width: 946px;
            max-width: 946px;
            .col-md-5, .col-md-7{
                padding-left: 0;
                padding-right: 0;
            }
        }
        .login-form-wrapper{
            padding-left: 60px;
            padding-right: 60px;
            height: 100%;
            .login-form{
                .login-title{
                    margin-bottom: 30px;
                    h1{
                        font-size: 32px;
                        color: $btnPrimary;
                        font-weight: 700;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 12px;
                        color: $textColorBlack;
                    }
                }
                label{
                    font-size: 15px;
                    color: $grayColor;
                }
                .form-control{
                    height: 40px;
                    font-size: 15px;
                    color: $textColorBlack;
                    &:focus{
                        box-shadow: none;
                    }
                }
                .input-group{
                    border-bottom: 1px solid $grayColor;
                    margin-bottom: 30px;
                    .input-group-text{
                        background: transparent;
                        border:none;
                        color: $textColorBlack;
                    }
                    .form-control{
                        border: none;
                        font-size: 13px;
                    }
                    .btn-outline-secondary{
                        border-color:#ced4da;
                        border: none;
                        i{
                            color: $grayColor;
                        }
                        &:hover{
                            background: transparent;
                        }
                    }
                    .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
                        box-shadow: none;
                    }
                    .btn-outline-secondary.focus, .btn-outline-secondary:focus {
                        box-shadow: none;
                    }
                }
                .form-check{
                    position: relative;
                    .form-check-input{
                        margin-top: .2rem;
                    }
                    .form-check-label{
                        font-size: 12px;
                        color: #929292;
                    }
                    .form-check-input:checked ~ .checkboxBg:after {
                        display: block;
                      }
                    .checkboxBg{
                        position: relative;
                        &::after{
                            display: none;
                            content: "";
                            height: 14px;
                            width: 14px;
                            background: $textColor;
                            position: absolute;
                            left: -130px;
                            top: 1px;
                            border-radius: 3px;
                        }
                    }
                }
                .social-wrapper{
                    border-top: 1px solid $grayColor;
                    padding-top: 10px;
                    margin-top: 70px;
                    i{
                        color: $textColor;
                        font-size: 22px;
                    }
                    a{
                        color: $grayColor;
                        font-size: 14px;
                    }
                }
            }
            #signUp, #resetpasswordbtn, #sendsmstokenbtn{
                background: $btnPrimary;
                font-size: 13px;
                margin-top: 30px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                width: 166px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 50px;
                border-color: $btnPrimary;
                &:hover{
                    background: $btnColor;
                }
            }
            .forget-pasword-wrapper{
                font-size: 13px;
                p{
                    color: $grayColor;
                }
            }
            .forget-password{
                font-size: 13px;
                color: $loginPageBackground;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .login-error-alert{
        position: absolute !important;
        right: 10px !important;
        top: 10px !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    border: 1px solid transparent;
    -webkit-text-fill-color:  $textColorBlack;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}
}