.p-0 {
    padding: 0 !important;
}
.page-title{
    margin-top: 20px;
    margin-bottom: 15px;
    h1{
        font-family: "poppins", sans-serif !important;
        font-size: 22px;
        font-weight: bold;
        color: $primaryColor;
        margin: 0;
    }
}
.position-ralative{
    position: relative;
}
.font-size-18{
    font-size: 18px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-22{
    font-size: 22px;
}
.color-dark{
    color: $darkColor;
}
.color-white{
    color: $whiteColor;
}
.text-gray{
    color: $textGray;
}
.text-bold{
    font-weight: bold;
}
.position-relative{
    position: relative;
}
.mendatory{
    color: #000;
    span{
        color: #d60707;
    }
}
.w-100 {
    width: 100%;
}
.emptyFieldBorder{
    border: 1px solid #ed202461 !important;
}
.form-group.custom-form-group.emptyFieldBorder{
    border: 1px solid transparent !important;
}
.emptyFieldBorder .select2-container{
    border: 1px solid #ed202461 !important;
}
.emptyFieldBorder .form-control{
    border: 1px solid #ed202461 !important;
}
.text-left {
    text-align: left !important;
}

.mt-30 {
    margin-top: 30px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.px-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.pt-20{
    padding-top: 20px !important;
}
.btn {
    min-height: 40px;
    &.btn-sm{
        min-height: auto !important;
    }
}

.radius-0 {
    border-radius: 0;
}

.alert {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
}

.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}


.bordered {
    border: 1px solid $darkBlue;
}
.right_col{
    .content-wrapper{
        padding-top: 66px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width:991px) {
    .col-md-12 {
        width: 100%;
    }
}

.page-inner-wrapper {
    border-radius: 5px;
    .card {
        background: $whiteColor;
        box-shadow: 0px 12px 33px 0px rgba(62, 73, 84, 0.08);
        .card-header {
            border-bottom: 1px solid $darkBlue;
            position: relative;
            background: transparent;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .page-inner-title {
        text-align: center;
        border-bottom: 1px solid $sidebarColor;
        position: relative;
        /*        &::after{
            position: absolute;
            bottom: -5px;
            left: 0px;
            background: $sidebarColor;
            content: "";
            height: 1px;
            width: 100%;
        }*/
        
        h4 {
            margin-bottom: 0px;
            margin-top: 0px;
            font-weight: 400;
            padding: 10px;
            color: $darkColor;
            font-size: 20px;
        }
        label{
            font-weight: normal !important;
            h4{
                font-weight: normal !important;
            }
        }
    }
    .page-wrapper {
        padding: 15px;
    }
}

.custom-tab-wrapper {
    .nav {
        border-color: $darkBlue;
    }
    .nav-tabs {
        li {
            margin: 0 3em;
        }
        li {
            a {
                border-bottom: 5px solid transparent;
                color: $grayColor;
                font-size: 15px;
            }
        }
        .tabs-style-shape nav li:first-child a span {
            padding-left: 2em;
            border-radius: 30px 0 0 0;
        }
        li.active {
            a {
                color: $secondaryColor;
                cursor: default;
                background-color: transparent;
                border: 1px solid transparent;
                border-bottom: 5px solid $secondaryColor;
                font-weight: 600;
            }
        }
        a {
            border-radius: 0;
            &:hover {
                border: none;
                border-bottom: 5px solid $secondaryColor;
                color: $secondaryColor;
            }
        }
    }
}

.table-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $tableHeaderBg;
    border-top: 3px solid $primaryColor;
    padding: 5px 10px;
    h4 {
        margin: 0;
        color: $darkColor;
        font-size: 18px;
        font-weight: 500;
    }
    .totalCount {
        span {
            color: $darkColor;
        }
    }
    label{
        font-weight: normal !important;
    }
}

@media screen and (max-width:767px){
    .table-header-wrapper{
        display: block;
        .totalCount {
            margin-top: 10px;
            max-width: 320px;
        }
    }
}

.custom-table {
    border: 1px solid #dddddd;
    td {
        vertical-align: middle;
        border: 1px solid tableHeaderBg;
        .btn {
            min-height: auto;
        }
    }
    th {
        border-bottom: none;
        font-weight: 600;
        color: $darkColor;
    }
    td {
        color: $darkColor;
    }
    tbody {
        tr:nth-of-type(odd) {
            background: rgba(46, 109, 244, 0.1);
        }
    }
}

.dataTables_paginate {
    ul.pagination {
        margin: 0;
        float: right;
        li {
            a {
                border-color: $tableHeaderBg !important;
                color: $darkColor !important;
                background: transparent !important;
                &:hover {
                    background: $tableHeaderBg !important;
                    border-color: $tableHeaderBg !important;
                    color: $whiteColor !important;
                }
            }
            &.active {
                a {
                    background: $secondaryColor !important;
                    color: $whiteColor !important;
                    border-color: $secondaryColor !important;
                }
            }
        }
    }
}

#tbl_wrapper {
    .dataTables_length,
    .dataTables_filter {
        display: none;
    }
    #tbl {
        margin: 0 !important;
    }
    .data-table-bottom {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    @media screen and (max-width: 991px) {
        .data-table-bottom {
            & div {
                width: 100%;
                align-items: start;
            }
        }
    }
    @media screen and (max-width: 992px) {
        .data-table-bottom{
            padding: 0 15px;
        }
    }
    .data-table-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dataTables_info {
        color: $secondaryColor;
        padding-top: 0;
        float: left;
        text-align: left;
    }
    ul.pagination {
        margin: 0;
        float: right;
        text-align: right;
    }
}

.w-inherit {
    width: inherit;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}



.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.custom-modal {
    .modal-title {
        color: $darkColor;
    }
}
.text-white-space{
    width: 1px;
    white-space: nowrap;
}
.feeTableWrapper{
    display: flex;
    justify-content: flex-start;
}
#feeTblSecondPart td{
    padding: 10px;
}
#feesCollectionWrapper{
    .table-responsive{overflow: none;}
}
.student-list-url{
    font-size: 15px;
    color: #4a1185;
    text-decoration: underline;
    font-weight: 600;
    &:hover{
        color: #4a1185;
        text-decoration: none;
    }
}
#fee_table_second td{
    padding: 10px !important;
}
/***********/
.select2-results__options {
    height: 200px !important;
}
/**********/
@media screen and (max-width:992px){
    .col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { 
      width: 100%;
    }
    footer {
        width: 100% !important;
        background: #ffffff;
        position: relative;
        margin-left: 0px !important;
    }
    #feesCollectionWrapper{
        .table-responsive{overflow: auto;}
    }
}#tblSecond{
    margin-top: 0px !important;
}
@media screen and (max-width:800px){
    .table-responsive-md{
        min-height: .01% !important;
        overflow-x: auto !important;
    }
}
