.mt-15{
    margin-top: 15px;
}
.p-15{
    padding: 15px;
}
.m-0{
    margin: 0;
}
.mt-10{
    margin-top: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mt-md-25{
    margin-top: 25px;
}
@media screen and (max-width:992px){
    .mt-md-25{
        margin-top: 0px;
    }
}