html{
    height: 100%;
}
#mainLayout {
    /******Top Bar*******/
    background: $bodyColor !important;
    .nav_menu {
        background: $topbarRightColor;
    }
    .nav_title {
        background: transparent;
        padding: 15px;
    }
    .left_col {
        background: $sidebarBgSecondaryColor;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 250px !important;
        .menu-icon{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .menu-text{
                margin-left: 5px;
                font-size: 13px;
            }
            > svg{
                transform: rotate(-90deg);
                transition: 0.2s;
            }
        }
        .child_menu{
            li{
                a{
                    svg{
                        transform: rotate(-90deg);
                        margin-top: 8px;
                        transition: 0.2s;
                    }
                }
            }
        }

    }
    footer {
        // // position: fixed;
        // bottom: 0;
        // background: $bodyColor;
        // z-index: 3;
        // width: 100%;
        bottom: 0;
        background: #f2f2f2;
        z-index: 3;
        width: calc(100% - 250px);
        right: 0;
        position: fixed;
        .pull-right {
            color: $textGray;
            font-size: 14px;
        }
    }
    .right_col {
        background: $bodyColor;
        padding-bottom: 65px;
        padding: 0px;
    }
    .main_container {
        .top_nav {
            top: 0px;
            position: fixed;
            width: calc(100% - 250px);
            top: 0px;
            z-index: 3;
            padding: 0 15px;
            background: $whiteColor;
            border-bottom: 1px solid $bodyColor;
        }
        .main_menu_side {
            padding-left: 15px;
            li.active {
                li.current-page {
                    a {
                        color: $primaryColor !important;
                        margin-bottom: 0;
                    }
                    
                }
                .menu-icon{
                    > svg{
                        transform: rotate(0deg);
                    }
                }
            }
            li.active>a {
                color: $whiteColor !important;
                border-radius: 0;
                // background: $highlightColorSecondary !important;
                // padding-right: 15px;
                margin-bottom: 0px !important;
                span {
                    color: $whiteColor !important;
                }
            }
            a {
                color: $whiteColor !important;
                box-shadow: none !important;
                font-weight: normal;
                font-size: 14px;
                i{
                    margin-right: 5px;
                    font-size: 16px;
                }
                svg{
                    float: right;
                }
            }
            .active a span.fa {
                margin-right: 0;
            }
            .menu_section {
                h3 {
                    color: $whiteColor;
                }
            }
        }
        .menu_fixed {
            /*height: 100%;*/
            position: fixed;
            top: 57px;
        }
        .nav_menu {
            margin-bottom: 0px;
            position: relative;
            border-bottom: none;
            // box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.50);
            // .toggle {
            //     float: left;
            //     margin: 0;
            //     padding-top: 0px;
            //     width: 40px;
            //     position: absolute;
            //     height: 40px;
            //     background: $whiteColor;
            //     border-radius: 50%;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     left: 20px;
            //     top: 10px;
            //     #menu_toggle {
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //         padding: 0px;
            //         color: $highlightColor;
            //         i {
            //             font-size: 20px
            //         }
            //     }
            // }
            .instiute-name {
                display: inline-block;
                span {
                    font-size: 20px;
                    color: $whiteColor;
                }
            }
            .nav_title {
                padding-right: 10px;
                .site_title {
                    font-size: 18px !important;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: $whiteColor !important;
                }
            }
            .topbar-right-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 64px;
                i{
                    color: #B7B7B7;
                }
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                    background: $whiteColor;
                    padding: 5px;
                }
                .user-profile {
                    padding: 0;
                    height: 34px;
                    width: 34px;
                    border-radius: 50%;
                    border: 1px solid #DCDCDC;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    &:hover {
                        background-color: #DCDCDC;
                        i{
                            color: #B7B7B7;
                        }
                    }
                    label {
                        color: $whiteColor;
                        cursor: pointer;
                    }
                    span {
                        color: $whiteColor !important;
                    }
                    
                }
                li {
                    background-color: $whiteColor;
                    &.open {
                        .user-profile {
                            background-color: #DCDCDC;
                            border-color: $whiteColor;
                        }
                        
                    }
                    &:focus{
                        background-color: $whiteColor;
                    }
                }
            }
        }
        .navbar-right {
            width: auto;
            margin-left: auto;
            width: auto;
        }
        .user-profile {
            label {
                display: none;
            }
        }
        .instiute-name {
            margin-left: 30px;
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @media screen and (min-width:992px) {
            .instiute-name {
                width: fit-content;
            }
            .user-profile {
                label {
                    display: inline-block;
                }
            }
        }
        @media screen and (max-width:992px) {}
        @media screen and (max-width:450px) {
            .instiute-name {
                display: none !important;
            }
        }
    }
    @media screen and (max-width:1757px) {
        &.nav-md {
            .menu_fixed {
                /*                position: absolute;*/
                top: 57px;
            }
            .scroll-view {
                overflow: hidden !important;
                scroll-behavior: smooth;
            }
        }
    }
    &.nav-md {
        .scroll-view {
            overflow: auto;
            scroll-behavior: smooth;
            /*padding-right: 21px;*/
            width: 100%;
        }
        .child_menu {
            li.active{
                a{
                    svg{
                        transform: rotate(0deg);
                        margin-top: 8px;
                        transition: 0.2s;
                    }
                }
            }
        }
        footer {
            // width: calc(100% - 250px);
            background: $bodyColor;
            margin-left: 0;
        }
    }
    &.nav-sm {
        .nav {
            &.side-menu li.active-sm {
                border-right: 5px solid $topbarLeftColor;
            }
        }
        .left_col {
            width: 85px;
            z-index: 3 !important;
        }
        .right_col {
            margin-left: 85px;
        }
        .child_menu {
            z-index: 1 !important;
            li {
                padding: 0 5px !important;
            }
        }
        .nav_title {
            position: relative;
            &::after {
                position: absolute;
                height: 57px;
                width: 16px;
                background: $topbarLeftColor;
                right: -15px;
                top: 0;
                content: "";
            }
        }
        .main_container {
            .nav_menu {
                .toggle {
                    float: left;
                    margin: 0;
                    padding-top: 0px;
                    width: 40px;
                    position: absolute;
                    height: 40px;
                    background: $whiteColor;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 65px;
                    top: 10px;
                }
                .instiute-name {
                    margin-left: 40px;
                }
            }
        }
        .menu_fixed {
            height: 100%;
            /*position: absolute;*/
            top: 57px;
        }
        footer {
            width: calc(100% - 85px);
            margin-left: 85px;
            position: relative !important;
        }
    }
}
.full-width{
   .left_col{
       display: none;
   }
   .right_col{
       margin-left: 0 !important;
       width: 100% !important;
   }
   .top_nav{
       width: 100% !important;
   }
   footer{
       width: 100% !important;
   }
}
.vh-100 {
    height: calc(100vh - 100px)!important;
    overflow-y: auto;
}
// .left_col{
//     display: none;
// }
// .right_col{
//     width: 100%;
//     margin-left: 0 !important;
// }
// @media screen and (min-width: 991px) {
//     .right_col{
//         width: calc(100% - 250px);
//     }
//     .left_col{
//         display: block;
//     }
// }
